<h3>Contrôle : <%= @technic.control %>/5</h3>
  <div class="d-flex justify-content-between">
    <p>Slashy</p>
    <p>Rail</p>
  </div>
  <div class="progress" style="height: 20px;">
    <div class="progress-bar bg-dark" role="progressbar" style="width: <%= @technic.control*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <h3>Maniabilité: <%= @technic.maniability %>/5</h3>
    <div class="d-flex justify-content-between">
      <p>Maniable</p>
      <p>Joueur</p>
    </div>
  <div class="progress" style="height: 20px;">
    <div class="progress-bar bg-danger" role="progressbar" style="width: <%= @technic.maniability*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <h3>Progression: <%= @technic.progression %>/5</h3>
  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: <%= @technic.progression*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <h3>Freeride / Freestyle: <%= @technic.freeride %>/5</h3>
  <div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: <%= @technic.freeride*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <h3>News-School: <%= @technic.freestyle %>/5</h3>
  <div class="progress">
    <div class="progress-bar bg-warning" role="progressbar" style="width: <%= @technic.freestyle*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

