<%= render "layouts/navbartest" %>
<body class="pt-5 profile-page sidebar-collapse">
<div class="page-header" id="header" data-parallax="true" style="background-image: url('/assets/Cape_Town.jpg');"></div>
  <div class="main main-raised p-2">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
		<%if @product.picture.attached?%>
  		  <%= image_tag @product.picture.first, alt: 'kite picture', class:"img-raised rounded img-fluid", style:"width:400px" %>
 		  <%= image_tag @product.picture.second, alt: 'kite picture', class:"img-raised rounded img-fluid m-4", style:"width:100px" %>
  		  <%= image_tag @product.picture.third, alt: 'kite picture', class:"img-raised rounded img-fluid m-4", style:"width:100px" %>
 		  <%= image_tag @product.picture.fourth, alt: 'kite picture', class:"img-raised rounded img-fluid m-4", style:"width:100px" %>
		<% else %>
                <img src="/assets/testboard/board2.png" alt="Circle Image" class="img-raised rounded img-fluid">
                <img src="/assets/testaccessory/strap.png" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:150px">
                <img src="/assets/testaccessory/fin.png" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:150px">
                <img src="/assets/testaccessory/handle.png" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:150px">
		<% end %>
              </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <h1 class="title" id="navshow"> <%= @product.name %></h1>
	<h3 class="ml-4"> by <%= @product.brand %></h3>

    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <div class="profile-tabs">
          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
	    <li class="nav-item">
              <%= link_to board_index_path(anchor: "board"), class:"nav-link" do %>
		<i class="text-center text-warning fas fa-chevron-left"></i>
		<h6 class="text-center text-warning">Tous les twin-tips</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to board_path(anchor: "idcard"), class:"nav-link active" do %>
              <i class="text-center text-warning fas fa-id-card"></i>
		<h6 class="text-center text-warning">Id Card</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to board_path(anchor: "resume"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-comment-dots"></i>
		<h6 class="text-center text-warning">En bref</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to board_path(anchor: "competence"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-sliders-h"></i>
		<h6 class="text-center text-warning">Competences</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to board_path(anchor: "video"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-video"></i>
		<h6 class="text-center text-warning">Video</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to board_path(anchor: "pads"), class:"nav-link disabled" do %>
              <i class="text-center text-warning fas fa-shoe-prints"></i>
		<h6 class="text-center text-warning">Pads / Straps</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to surfboard_index_path(anchor: "surfboard"), class:"nav-link" do %>
		<i class="text-center text-warning fas fa-chevron-right"></i>
		<h6 class="text-center text-warning">Tous les surfboards</h6>
		<%end%>
            </li>
          </ul>
        </div>
      </div>
    </div>

	<section id="idcard">
          <h2 class="ml-5 fas fa-id-card"> Id Card</h2>
	<div class="d-flex justify-content-center">
          <div class="col-md-11">
            <div class="name">
	      <div class="card pb-4">
	        <div class="row">
		  <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                      <h2 class=""><i class="fas fa-id-badge"></i> <%= @product.name %></h2>
                      <img src="/assets/testboard/board ride.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid mt-2" style="width:200px">
                    </div>
                  </div>
                  <div class="mt-5 col-md-4 col-sm-12">
                    <h3><i class="fas fa-heart fa-2x"></i> <%= @product.favorite %></h3>
                    <h6>Domain : <%= @product.domain %></h6>
                    <h6>Taille testé : <%= @product.testsize %>m</h6>
                    <h6>Tailles disponible : <%= @option.range %></h6>
                    <h6>Prix en shop : <%= @product.price %>€ pour une board nue</h6>
		    <h6>poids : <%= @option.weigh %>kg</h6>
		    <h6>millésime : <%= @product.year %></h6>
		    <a class="btn btn-success" href="<%= @product.link %>" target="blank_">more details</a>
		  </div>
                  <div class="mt-5 col-md-5 col-sm-12">
                    <h3><i class="fas fa-cog fa-2x"></i>  Caractéristique :</h3>
		<div class="row">
		<div class="col-md-6">
                    <h6><i class="fab fa-steam-symbol fa-2x"></i> Ailerons : <%= @option.fin %></h6>
                    <h6><i class="fab fa-steam-symbol fa-2x"></i> largeur : <%= @option.width %></h6>
                    <h6><i class="fab fa-steam-symbol fa-2x"></i> Stance : <%= @option.stance %></h6>
		</div>
		<div class="col-md-6">
                    <h6><i class="fab fa-steam-symbol fa-2x"></i> Champs : <%= @option.champs %></h6>
                    <h6><i class="fab fa-steam-symbol fa-2x"></i> Carène : <%= @option.carene %></h6>
                    <h6><i class="fab fa-steam-symbol fa-2x"></i> Flex : <%= @option.flex %></h6>
		</div>
			<div class="card p-1 col-md-11">
			<h6>details : <%= @option.detail %></h6>
			</div>
		</div>
		  </div>
                </div>
  		<a href="#header" class="scrollup d-flex justify-content-end align-items-end mr-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
              </div>
            </div>
          </div>
	</div>
	</section>

	<section id="resume">
          <h2 class="ml-5 fas fa-comment-dots"> En bref</h2>
	<div class="d-flex justify-content-center">
	  <div class="card col-lg-8 m-3 p-3">
            <div class="row">
              <div class="col-md-3">
                <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
                  <div class="col-md-12 ml-auto mr-auto">
                    <img src="/assets/Hugo.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                </ul>
              </div>
              <div class="col-md-8">
                <div class="tab-content">
		  <p><%= @product.description %></p>
                </div>
              </div>
            </div>
  		<a href="#header" class="scrollup d-flex justify-content-end align-items-end mr-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
          </div>
	</div>
	</section>

	<section id="competence">
          <h2 class="ml-5 fas fa-sliders-h"> Compétences</h2>

<div class="m-3 d-flex flex-row">

<div class="card m-3 p-3" style="width:60%">
<h6>Contrôle : <%= @technic.control %>/5</h6>
<div class="progress">
  <div class="progress-bar bg-primary" role="progressbar" style="width: <%= @technic.control*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>Progression: <%= @technic.progression %>/5</h6>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: <%= @technic.progression*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>Freeride / Freestyle: <%= @technic.freeride %>/5</h6>
<div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: <%= @technic.freeride*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>News-School: <%= @technic.freestyle %>/5</h6>
<div class="progress">
  <div class="progress-bar bg-warning" role="progressbar" style="width: <%= @technic.freestyle*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>Maniabilité: <%= @technic.maniability %>/5</h6>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: <%= @technic.maniability*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>


<div class="card m-3 p-3">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/assets/coverflow4.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/coverflow5.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/coverflow6.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  		<a href="#header" class="scrollup d-flex justify-content-end align-items-end"><i class="btn-sm btn-primary mt-2 fa fa-caret-square-up"></i></a>
</div>


</div>

	</section>


        <section id="video">
          <h2 class="ml-5 fas fa-id-card"> Video</h2>
	<div class="d-flex justify-content-center">
            <div class="card row m-3 p-3 col-lg-8">
              <div class="d-flex justify-content-center">
		<iframe width="560" height="315" src="<%= @product.youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	      </div>
  		<a href="#header" class="scrollup d-flex justify-content-end align-items-end mr-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
            </div>
	</div>
        </section>

	<section id="pads">
	          <h2 class="ml-5 fas fa-id-card"> pads et strap</h2>
      <% @products.each do |t, index| %>
<% if t.domain === "pads" && t.brand === @product.brand %> 
	<div class="d-flex justify-content-center">
          <div class="col-md-10">
            <div class="name">
	      <div class="card pb-4">
	        <div class="row">
		  <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                      <h2 class=""><i class="fas fa-id-badge"></i> <%= t.name %></h2><h3> by <%= t.brand %></h3>
                      <img src="/assets/testaccessory/strap.png" alt="Thumbnail Image" class="img-raised rounded img-fluid mt-2" style="width:200px">
                    </div>
                  </div>
                  <div class="mt-5 col-md-4 col-sm-12">
                    <h3><i class="fas fa-heart fa-2x"></i>  On a aimé : <%= t.favorite %></h3>	
                    <h6>Prix en shop : <%= t.price %>€</h6>
		    <h5>Pads : soft <% while @pad < @technics.find(t.technic_id).pad %>
	    		<i class="fas fa-circle"></i>
	    		<% @pad = @pad + 1 %>
	  		<%end%>
			<% while @pad < 6 %>
	    		<i class="far fa-circle"></i>
			<% @pad = @pad + 1 %>
			<% end %>
	  		<% @pad = 0 %>
		    hard</h5>
		    <h4>Strap : souple<% while @strap < @technics.find(t.technic_id).strap %>
	    		<i class="fas fa-circle"></i>
	    		<% @strap = @strap + 1 %>
	  		<%end%>
			<% while @strap < 6 %>
	    		<i class="far fa-circle"></i>
			<% @strap = @strap + 1 %>
			<% end %>
	  		<% @strap = 0 %>
		    rigide</h4>

			<div class="card p-1">
			<h6>details : <%= @options.find(t.option_id).detail %></h6>
			</div>

		  </div>
                  <div class="mt-5 col-md-4 col-sm-12">
                    <h3><i class="fas fa-sliders-h fa-2x"></i>  Caractéristique :</h3>
                    <h6><i class="fas fa-wrench fa-2x"></i> nombre de Scratch : <%= @options.find(t.option_id).velcros %></h6>
                    <h6><i class="fas fa-wrench fa-2x"></i> poids : <%= @options.find(t.option_id).weigh %>kg</h6>
		    <a class="btn btn-success" href="<%= t.link %>" target="blank_">more details</a>
		  </div>
                 
                </div>
  		<a href="#header" class="scrollup d-flex justify-content-end align-items-end mr-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
              </div>
            </div>
          </div>
	</div>
<%end%>
<%end%>
	</section>

	<section id="product">
	          <h2 class="ml-5 fas fa-plus"> Produits associés</h2>
<div class="row">
  <div class="col-sm-4">
      <div class="card-body">
        <h5 class="card-title">Twin-tips</h5>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/assets/testboard/board2.png" alt="First slide">
    </div>
      <% @products.each do |t, index| %>
<% if t.category === "board" && t.domain === @product.domain %>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/testboard/board2.png" alt="Second slide">
  <div class="carousel-caption d-none d-md-block">
    <h2 class="text-dark"><%= t.name %></h2>
  </div>
    </div>
<% end %>
<% end %>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="card-body">
        <h5 class="card-title">Kites</h5>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/assets/testkite/bandit.png" alt="First slide">
    </div>
      <% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === @product.domain %>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/testkite/wtf.png" alt="Second slide">
  <div class="carousel-caption d-none d-md-block">
    <a href="<%= kite_path(t) %>" class="scrollup btn btn-primary"><%= t.name %></a>
  </div>
    </div>
<% end %>
<% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="card-body">
        <h5 class="card-title">accessoires</h5>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/assets/testaccessory/harness.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/testboard/board2.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/testboard/board2.png" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>
  </div>
</div>

	<div class="d-flex justify-content-end">
              <a class="btn-primary btn-sm" href="<%= board_index_path %>"><i class="fas fa-caret-square-left"></i>  Retour Twin-Tips</a>
	</div>
    </div>
  </div>
</div>
</body>
