<body style="background-image: url('/assets/background/adminuser.jpg')">

  <% if @article.errors.any? %>
  <div class="alert alert-danger" role="alert">
            <p>Nous n'avons pas réussi à modifier l'utilisateur pour la (ou les) raison(s) suivante(s) :</p>
            <ul>
              <% @article.errors.full_messages.each do |message| %>
                <li class="li_errors"><%= message %></li>
              <% end %>
            </ul>
    </div>
      <% end %>
<div class="m-2">
    <%= link_to " ", admin_article_index_path, class:"pull-left btn btn-danger fas fa-arrow-left", style:"font-size:30px" %>
</div>
<br>
        <h2 class="title text-white"> Créer un article</h2>      
<div class="container card card-body p-5 col-md-10" >
        <h3 class="title text-center"> Infos principales</h3>
  <div class="text-center">
           <%= form_tag url_for(action: 'create'), method: 'post' do %>
		<div class="d-flex justify-content-around">
                <div class="text-center col-md-4">
                  <%= label_tag 'Titre' %>
                  <%= text_field_tag 'title', @article.title, class: "form-control" %>
                </div>
		<br><br>
                <div class="text-center col-md-4">
              <%= label_tag 'Domaine' %>
              <%= select_tag 'domain', raw("<option>news</option><option>testkite</option><option>testboard</option><option>testsurf</option><option>testaccessory</option><option>testfoil</option><option>portfolio</option><option>event</option><option>test</option>"), class: "form-control" %>
		</div>
		</div>
              <br><br>
                <div class="text-center">
                  <%= label_tag 'Intro' %>
                  <%= text_field_tag 'intro', @article.intro, class: "form-control" %>
                </div>
		<br><br>
                <div class="text-center">
                  <%= label_tag 'content' %>
                  <%= text_field_tag 'content', @article.content, class: "form-control" %>
                </div>
              <br><br>		
                <div class="text-center col-md-4">
                  <%= label_tag 'title2' %>
                  <%= text_field_tag 'title2', @article.title2, class: "form-control" %>
                </div>
                <div class="text-center">
                  <%= label_tag 'content2' %>
                  <%= text_field_tag 'content2', @article.content2, class: "form-control" %>
                </div>
              <br><br>
                <div class="text-center col-md-4">
                  <%= label_tag 'title3' %>
                  <%= text_field_tag 'title3', @article.title3, class: "form-control" %>
                </div>
                <div class="text-center">
                  <%= label_tag 'content3' %>
                  <%= text_field_tag 'content3', @article.content3, class: "form-control" %>
                </div>
              <br><br>
                <div class="text-center col-md-4">
                  <%= label_tag 'title4' %>
                  <%= text_field_tag 'title4', @article.title4, class: "form-control" %>
                </div>
                <div class="text-center">
                  <%= label_tag 'content4' %>
                  <%= text_field_tag 'content4', @article.content4, class: "form-control" %>
                </div>
              <br><br>
                <div class="text-center col-md-4">
                  <%= label_tag 'title5' %>
                   <%= text_field_tag 'title5', @article.title5, class: "form-control" %>
                </div>
                <div class="text-center">
                  <%= label_tag 'content5' %>
                  <%= text_field_tag 'content5', @article.content5, class: "form-control" %>
                </div>
              <br><br>
                <div class="text-center col-md-4">
                  <%= label_tag 'title6' %>
                  <%= text_field_tag 'title6', @article.title6, class: "form-control" %>
                </div>
                <div class="text-center">
                  <%= label_tag 'content6' %>
                  <%= text_field_tag 'content6', @article.content6, class: "form-control" %>
                </div>
              <br><br>
                <div class="text-center col-md-4">
                  <%= label_tag 'title7' %>
                  <%= text_field_tag 'title7', @article.title7, class: "form-control" %>
                </div>
                <div class="text-center col-md-4">
                  <%= label_tag 'content7' %>
                  <%= text_field_tag 'content7', @article.content7, class: "form-control" %>
                </div>
		<br><br>
              <center><%= submit_tag "Creer l'article", class:"btn btn-outline-primary" %></center>

            <% end %>

        <h3 class="d-flex justify-content-end"> Article by <%= current_user.first_name %></h3>        



        </div>
      </div>
     </div>
  </div>

</body>
