<%= render"layouts/navbartest" %>

<body class="index-page sidebar-collapse">
  <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('./assets/background/surfboard.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>surfboard</h1>
                <a class="carousel-control-prev" href="<%= board_index_path %>" role="button" data-slide="prev">
                  <i class="fas fa-caret-square-left" style="font-size:50px"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="<%= accessory_index_path %>" role="button" data-slide="next">
		  <i class="fas fa-caret-square-right" style="font-size:50px"></i>
                  <span class="sr-only">Next</span>
                </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav id='nav_bar'>
    <ul class='nav_links d-flex justify-content-center'>
            <li class="active nav-item my-1 mx-5">
            <%= link_to board_index_path(anchor: "intro"), class:" nav-link" do %>
		<div class="d-flex flex-column">
		<h4 class="text-center">Intro</h4>
			<i class="d-flex justify-content-center fas fa-arrow-alt-circle-down fa-2x"></i>
		</div>
		<%end%>
            </li>
            <li class="active nav-item my-1 mx-5">
              <%= link_to board_index_path(anchor: "performance"), class:"nav-link" do %>
		<div class="d-flex flex-column">
		<h4 class="text-center">Performances</h4>
			<i class="d-flex justify-content-center fas fa-arrow-alt-circle-down fa-2x"></i>
		</div>
		<%end%>
            </li>
            <li class="nav-item my-1 mx-1">
            <%= link_to board_index_path(anchor: "board"), class:" nav-link" do %>
		<div class="d-flex flex-column">
		<h4 class="text-center">Tous les surfs</h4>
			<i class="d-flex justify-content-center fas fa-arrow-alt-circle-down fa-2x"></i>
		</div>
		<%end%>
            </li>
            <li class="nav-item my-1 mx-1">
            <%= link_to board_index_path(anchor: "compare"), class:" nav-link" do %>
		<div class="d-flex flex-column">
		<h4 class="text-center">Comparer les modèles</h4>
			<i class="d-flex justify-content-center fas fa-arrow-alt-circle-down fa-2x"></i>
		</div>
		<%end%>
            </li>
            <li class="nav-item my-1 mx-1">
            <%= link_to board_index_path(anchor: "presentation"), class:" nav-link" do %>
		<div class="d-flex flex-column">
		<h4 class="text-center">Equipe Test</h4>
			<i class="d-flex justify-content-center fas fa-arrow-alt-circle-down fa-2x"></i>
		</div>
		<%end%>
            </li>      
    </ul>
  </nav>
<script>
$(document).ready(function() {
  
  $(window).scroll(function () {
      //if you hard code, then use console
      //.log to determine when you want the 
      //nav bar to stick.  
      console.log($(window).scrollTop())
    if ($(window).scrollTop() > 450) {
      $('#nav_bar').addClass('navbar-fixed');
    }
    if ($(window).scrollTop() < 451) {
      $('#nav_bar').removeClass('navbar-fixed');
    }
  });
});
</script>



<section id="intro">
<div class="jumbotron" style="background-image: url(/assets/introtestkite.jpg); background-size: 100%;">
   <div class="container for-about">
   <h1>Comment sont fait nos tests</h1>
   </div>
</div>
    <div class="container tim-container m-3">
        <div id="extras">
            <div class="space"></div>
            <div class="row">
                <div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                        <img src="assets/commentsontfaitnostests.jpg" alt="Rounded Image" class="img-rounded img-responsive img-dog" style="width:100%">
			<br><br>
			<img src="assets/tangle.jpg" alt="Rounded Image" class="img-rounded img-responsive img-dog" style="width:100%">
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                                <h1 class="text-center">LE SURFKITE…</h1>
                                
                                <h2><small class="subtitle">FLAIREZ LE BON NEZ</small></h2>
                                <hr>
                                <p>La navigation en surfkite grossit encore et toujours plus ! Les fabricants
proposent deux styles de surfs distincts pour répondre à la demande de la
discipline montante : le strapless et plus encore, le "freestyle wave" allant
même jusqu'à mettre au point des surfs freestyle strapless avec la tendance
no nose (noseless), sans nez quoi !
Voici les surfkites, véritables surfs étudiés et adaptés à nos besoins.
On retrouve toujours les surfs dédiés au waveriding, conçus pour réellement
surfer, bottom et roller au programme, strapés et strapless. Les shapes de
ces derniers n'ont pas forcément trop évolués puisqu'ils proviennent de
l'expérience surf à la rame qui a beaucoup apporté à la conception des
surfkites. Ce sont des valeurs sûres et abouties en la matière. Ces surfs sont
en général assez étroits, avec du scoop, pas trop larges au pied arrière
et présentent un outline régulier, un arrière rond ou carré... Ils sont incisifs,
précis en courbe avec une excellente accroche, un peu instables car
étroits. Certains ont gagné en volume avec des rails plus ronds pour être
plus ludiques dans les petites vagues, plus doux et plus axés strapless. L'autre
type de surf que l'on trouve chez toutes les marques cette année est un
modèle dédié au strapless et orienté "freestyle".</p>
                </div>
            </div>
        </div>
    <!--     end extras -->    
    </div>
<!-- end container -->
</section>

<section id="surfboard">
<div class="jumbotron" style="background-image: url(/assets/introtestkite.jpg); background-size: 100%;">
   <div class="container for-about">
   <h1>Directionnelles</h1>
   </div>
</div>

<div class="row">
<% @products.each do |t, index| %>
<% if t.category === "surfboard" %>
<div class="card-deck m-3">
  <div class="row mx-3">  
    <div style="max-width: 600px;">
        <a href="<%= surfboard_path(t) %>">
	<div class="img-raised rounded img-fluid p-2">
	<img src="assets/testsurfboard/surfboard.jpg">
	<img src="assets/testsurfboard/surfboardcarre.jpg">
          <h3 class="card-title"><%= t.name %></h3><h4> <%= t.brand %></h4>
	</div>
    </div></a>
  </div>
</div>
<%end%>
<% end %>
</div>
</section>



<section id="compare">
<div class="jumbotron" style="background-image: url(/assets/introtestkite.jpg); background-size: 100%;">
   <div class="container for-about">
   <h1>comparer les directionnelles</h1>
   </div>
</div>


<table class="table table-striped text-center p-2">
  <thead>
    <tr>
      <th scope="col">surf <i class="fas fa-chevron-circle-right"></i></th>
<% @products.each do |t, index| %>
      <% if t.category === "surfboard" %>
      <th scope="col"><%= t.name %></th>
<%end%>
<% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Compétences<br><i class="fas fa-chevron-circle-down"></i></th>
<% @products.each do |t, index| %>
      <% if t.category === "surfboard" %>
      <td><img src="assets/testsurfboard/surfboard2.png" class="img-raised rounded img-fluid" alt="..." style="width:70px"></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Marque</th>
<% @products.each do |t, index| %>
      <% if t.category === "surfboard" %>
      <td><%= t.brand %></td>
<% end %>
<%end%>
    </tr>
    <tr>
      <th scope="row">taille testé</th>
<% @products.each do |t, index| %>
      <% if t.category === "surfboard" %>
      <td><%= t.testsize %></td>
<% end %>
<%end%>
    </tr>
    <tr>
      <th scope="row">Courbes</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><% while @courbes < t.courbes %>
	    <i class="fas fa-star"></i>
	    <% @courbes = @courbes + 1 %>
	  <%end%>
	  <% @courbes = 0 %>
      </td>
<% end %>
<%end%>
    </tr>
    <tr>
      <th scope="row">Wind</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><% while @wind < t.wind %>
	    <i class="fas fa-star"></i>
	    <% @wind = @wind + 1 %>
	  <%end%>
	  <% @wind = 0 %>
      </td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Side-Shore</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><% while @sideshore < t.sideshore %>
	    <i class="fas fa-star"></i>
	    <% @sideshore = @sideshore + 1 %>
	  <%end%>
	  <% @sideshore = 0 %>
      </td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">On-Shore</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><% while @onshore < t.onshore %>
	    <i class="fas fa-star"></i>
	    <% @onshore = @onshore + 1 %>
	  <%end%>
	  <% @onshore = 0 %>
      </td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">wave</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><% while @wave < t.wave %>
	    <i class="fas fa-star"></i>
	    <% @wave = @wave + 1 %>
	  <%end%>
	  <% @wave = 0 %>
      </td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Freestyle</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><% while @freestyle < t.freestyle %>
	    <i class="fas fa-star"></i>
	    <% @freestyle = @freestyle + 1 %>
	  <%end%>
	  <% @freestyle = 0 %>
      </td>
<%end%>
<% end %>
    </tr>    <tr>
      <th scope="row">Strap</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><% while @strap < t.strap %>
	    <i class="fas fa-star"></i>
	    <% @strap = @strap + 1 %>
	  <%end%>
	  <% @strap = 0 %>
      </td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Strapless</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><% while @strapless < t.strapless %>
	    <i class="fas fa-star"></i>
	    <% @strapless = @strapless + 1 %>
	  <%end%>
	  <% @strapless = 0 %>
      </td>
<%end%>
<% end %>
    </tr>

    <tr>
      <th scope="row">Tailles disponibles</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><%= t.range %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Ailerons</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><%= t.fin %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">champs</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><%= t.champs %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Largeur</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><%= t.width %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Poids</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><%= t.weigh %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">longueur</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><%= t.length %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">maitrebau</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><%= t.maitrebau %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Epaisseur</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><%= t.thickness %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Volume</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><%= t.volum %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">boitier</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" %>
      <td><%= t.box %></td>
<%end%>
<% end %>
    </tr>

    <tr>
      <th scope="row">Prix</th>
<% @products.each do |t, index| %>
      <% if t.category === "board" %>
      <td><%= t.price %> €</td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row"></th>
<% @products.each do |t, index| %>
      <% if t.category === "board" %>

      <td><a href="<%= surfboard_path(t) %>" class="scrollup btn btn-success">Détails</a>
</td>
<% end %>
<%end%>
    </tr>

  </tbody>
</table> 
</section>

<section id="presentation">
<div class="jumbotron" style="background-image: url(/assets/introtestkite.jpg); background-size: 100%;">
   <div class="container for-about">
   <h1>Ils ont testé pour vous</h1>
   </div>
</div>

        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="/assets/Hugo.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Hugo
                    <br>
                    <small class="card-description text-muted">Model</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                      <a href="#">links</a> for people to be able to follow them outside the site.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="/assets/Greg.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Greg
                    <br>
                    <small class="card-description text-muted">Designer</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                      <a href="#">links</a> for people to be able to follow them outside the site.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="/assets/Marvin.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Marvin
                    <br>
                    <small class="card-description text-muted">Model</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                      <a href="#">links</a> for people to be able to follow them outside the site.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
   </section>

<br>
<br>
<br>
    <%= yield %>

  </body>
</html>

