<%= render"layouts/navbartest" %>

<body class="index-page sidebar-collapse">
<%if @article.present? %>
  <%if @article.background.attached? %>
    <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url(<%= rails_blob_url(@article.background)%>);">
  <% end %>
  <% else %>
<% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>surfboard</h1>
                <a class="carousel-control-prev" href="<%= board_index_path %>" role="button" data-slide="prev">
                  <i class="fas fa-caret-square-left" style="font-size:50px"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="<%= accessory_index_path %>" role="button" data-slide="next">
		  <i class="fas fa-caret-square-right" style="font-size:50px"></i>
                  <span class="sr-only">Next</span>
                </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render"layouts/flash" %>
  </div>

  <div class="main">

  <nav id="nav_bar">
    <ul class="card d-flex flex-row nav_links d-flex justify-content-center">
            <li class="active nav-item my-1 mx-5">
            <%= link_to surfboard_index_path(anchor: "intro"), class:" nav-link" do %>
		<div class="d-flex flex-column">
              <i class="text-center text-warning fas fa-comment-dots fa-4x"></i>
		</div>
		<%end%>
            </li>
            <li class="active nav-item my-1 mx-5">
              <%= link_to surfboard_index_path(anchor: "performance"), class:"nav-link" do %>
		<div class="d-flex flex-column">
                <i class="text-center text-warning fas fa-sliders-h fa-4x"></i>
		</div>
		<%end%>
            </li>
            <li class="nav-item my-1 mx-5">
            <%= link_to surfboard_index_path(anchor: "surf"), class:" nav-link" do %>
		<div class="d-flex flex-column">
		<i class="text-center text-warning fas fa-compress-arrows-alt fa-4x"></i>
		</div>
		<%end%>
            </li>
            <li class="nav-item my-1 mx-5">
            <%= link_to surfboard_index_path(anchor: "presentation"), class:" nav-link" do %>
		<div class="d-flex flex-column">
		<i class="text-center text-warning fas fa-users fa-4x"></i>
		</div>
		<%end%>
            </li>  
            <li class="nav-item my-1 mx-5">
            <%= link_to surfboard_index_path(anchor: "compare"), class:" nav-link" do %>
		<div class="d-flex flex-column">
		<i class="text-center text-warning fas fa-compress-alt fa-4x"></i>
		</div>
		<%end%>
            </li>
    
    </ul>
  </nav>

  <% if @article.present? %> 

<section id="intro">
  <%if @article.jumbotron.attached? %>
    <div class="jumbotron" style="background-image: url(<%= rails_blob_url(@article.jumbotron.first)%>); background-size: 100%;">
  <% else %>
    <div class="jumbotron" style="background-image: url(/assets/introtest4.jpg); background-size: 100%;">
  <% end %>
  <div class="container for-about">
    <h1>Comment sont fait nos tests</h1>
  </div>
</div>
    <div class="container tim-container m-3">
      <div id="extras">
        <h1 class="text-left"><%= @article.title %></h1>
          <div class="row">
            <div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
              <div class="text-center">
		<% if @article.image.attached? %>
  	  	  <%= image_tag @article.image.first, alt: 'kite image', class:"card img-rounded img-responsive", style:"width:100%" %>
		<% else %>
          	  <img src="assets/image.jpg" alt="kite image" class="card img-rounded img-responsive" style="width:100%">
		<% end %>
              </div>
            </div>
            <div class="col-md-5 col-sm-12">
              <h2><small class="subtitle"><%= @article.intro %></small></h2>
              <p><%= @article.content %></p>
            </div>
          </div>
        </div>  
      </div>

<div class="row d-flex justify-content-center">
  <div class="col-sm-3 m-2">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><%= @article.title2 %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 m-2">
		<% if @article.image.attached? %>
  	  	  <%= image_tag @article.image.second, alt: 'kite image', class:"mb-5 img-rounded img-responsive", style:"width:100%" %>
  	  	  <%= image_tag @article.image.third, alt: 'kite image', class:"card img-rounded img-responsive", style:"width:100%" %>
		<% else %>
          	  <img src="assets/image.jpg" alt="kite image" class="img-rounded img-responsive" style="width:100%">
          	  <img src="assets/image.jpg" alt="kite image" class="img-rounded img-responsive" style="width:100%">
		<% end %>
  </div>
  <div class="col-sm-5 m-2">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><%= @article.content2 %></p>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="bg-light col-sm-3 m-2">
        <h5 class="card-title"><%= @article.title3 %></h5>
        <p class="card-text"><%= @article.content3 %></p>
  </div>
  <div class="col-sm-4 m-2">
        <h5 class="card-title"><%= @article.title4 %></h5>
        <p class="card-text"><%= @article.content4 %></p>
  </div>
  <div class="bg-light col-sm-4 m-2">
        <h5 class="card-title"><%= @article.title5 %></h5>
        <p class="card-text"><%= @article.content5 %></p>
  </div>
</div>

	    <div class="d-flex justify-content-center">
	      <div class="card-body">	
	    <% if @article.image.attached? %>
  	      <%= image_tag @article.image.fourth, alt: 'kite image', class:"card img-rounded img-responsive", style:"width:100%" %>
	    <% else %>
              <img src="assets/image.jpg" alt="kite image" class="card img-rounded img-responsive" style="width:100%">
	    <% end %>
	      </div>
	    </div>

	    <div class="d-flex justify-content-center">
	      <div class="card m-4 text-dark bg-light card-body">
	        <h5 class="card-title text-dark"><%= @article.title6 %></h5>
        <p class="card-text"><%= @article.content6 %></p>
	      </div>
	    </div>
</section>

    <section id="performance">

        <div class="row m-2">
          <div class="col-sm-6 m-3 p-3" style="width:60%">
		<%= render"surfboardcomp" %>
	  </div>
	  <div class="col-sm-5 m-3 p-3">
	    <% if @article.image.attached? %>
  	      <%= image_tag @article.image.fifth, alt: 'kite image', class:"card img-rounded img-responsive", style:"width:100%" %>
	    <% else %>
              <img src="assets/image.jpg" alt="kite image" class="card img-rounded img-responsive" style="width:100%">
	    <% end %>
	  </div>
	</div>

<div class="row">
  <div class="col-sm-6 m-2">
      <div class="card-body">
        <h5 class="card-title"><%= @article.title7 %></h5>
        <p class="card-text"><%= @article.content7 %></p>
      </div>
  </div>
  <div class="col-sm-5 m-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @article.title8 %></h5>
        <p class="card-text"><%= @article.content8 %></p>
      </div>
    </div>
  </div>
</div>
		<%= render"surfboardcomp2" %>

	    <div class="m-2 d-flex justify-content-center">
	      <div class="col-sm-9 bg-light card-body">
	        <h5 class="card-title"><%= @article.title9 %></h5>
        <p class="card-text"><%= @article.content9 %></p>
	      </div>
	    </div>


</section>

<% end %>

<section id="surfboard">
  <%if @article.jumbotron.attached? %>
    <div class="jumbotron" style="background-image: url(<%= rails_blob_url(@article.jumbotron.second)%>); background-size: 100%;">
  <% else %>
    <div class="jumbotron" style="background-image: url(/assets/introtest4.jpg); background-size: 100%;">
  <% end %>
   <div class="container for-about">
   <h1>Directionnelles</h1>
   </div>
</div>
<h2>Les surfkite</h2>
<div class="row">
<% @products.each do |t, index| %>
<% if t.category === "surfboard" && t.domain === "wave" %>
      <div class="card-deck m-3">
        <div class="row mx-1">  
          <div class="card p-2" style="max-width: 200px;">
           <h3 class="card-title"> <%= t.name %>  </h3>
	      <%= link_to surfboard_path(t), class:"nav-link" do %>
		<% if t.profil.attached? %>
  		  <%= image_tag t.profil, alt: 'kite picture', class:"rounded img-fluid", style:"width:100%" %>
		<% else %>
		  <img src="assets/image.jpg" class="rounded img-fluid" alt="..." style="width:100%">
		<%end%>
	      <%end%>
            <h4 class="card-title">By <%= t.brand %></h4>
	    <div class="d-flex justify-content-between">		
	      <h4 class="text-left"> <%= t.testsize %> m</h4>
	      <h4 class="text-right"> <%= t.price %>€</h4>
	    </div>
          </div>
        </div>
      </div>
      <% end %>
      <%end%>
    </div>

<h2>Les noseless</h2>
<div class="row">
<% @products.each do |t, index| %>
<% if t.category === "surfboard" && t.domain === "freestyle" %>
      <div class="card-deck m-3">
        <div class="row mx-1">  
          <div class="card p-2" style="max-width: 200px;">
           <h3 class="card-title"> <%= t.name %>  </h3>
	      <%= link_to surfboard_path(t), class:"nav-link" do %>
		<% if t.profil.attached? %>
  		  <%= image_tag t.profil, alt: 'kite picture', class:"rounded img-fluid", style:"width:100%" %>
		<% else %>
		  <img src="assets/image.jpg" class="rounded img-fluid" alt="..." style="width:100%">
		<%end%>
	      <%end%>
            <h4 class="card-title">By <%= t.brand %></h4>
	    <div class="d-flex justify-content-between">		
	      <h4 class="text-left"> <%= t.testsize %> m</h4>
	      <h4 class="text-right"> <%= t.price %>€</h4>
	    </div>
          </div>
        </div>
      </div>
      <% end %>
      <%end%>
    </div>

</section>

<section id="presentation">
<% render"layouts/presentation" %>
</section>

<section id="compare">
  <%if @article.jumbotron.attached? %>
    <div class="jumbotron" style="background-image: url(<%= rails_blob_url(@article.jumbotron.fourth)%>); background-size: 100%;">
  <% else %>
    <div class="jumbotron" style="background-image: url(/assets/introtest4.jpg); background-size: 100%;">
  <% end %>
   <div class="container for-about">
   <h1>comparer les directionnelles</h1>
   </div>
</div>

  <div class="col-lg-6 col-md-12">
    <div class="m-5 row">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#dashboard-2" role="tab" data-toggle="tab">
            <i class="fas fa-umbrella-beach"></i> Surf
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#schedule-2" role="tab" data-toggle="tab">
            <i class="fas fa-water"></i> Noseless
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-8">
        <div class="tab-content">
          <div class="tab-pane active" id="dashboard-2">
                      Ceci est un tableau comparatif des surf testés freeride / freestyle, pour avoir une idée plus précise, merci de bien lire le test du surf en détail.
          <br>

<table class="table table-striped text-center p-2">
  <thead>
    <tr>
      <th scope="col">surf <i class="fas fa-chevron-circle-right"></i></th>
<% @products.each do |t, index| %>
<% if t.category === "surfboard" && t.domain === "wave" %>
      <th scope="col"><%= t.name %></th>
<%end%>
<% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Compétences<br><i class="fas fa-chevron-circle-down"></i></th>
<% @products.each do |t, index| %>
<% if t.category === "surfboard" && t.domain === "wave" %>
      <td><%= link_to surfboard_path(t), class:"nav-link" do %>
		<% if t.profil.attached? %>
  		  <%= image_tag t.profil, alt: 'kite picture', class:"img-raised rounded img-fluid", style:"width:100px" %>
		<% else %>
		<img src="assets/image.jpg" class="img-raised rounded img-fluid" alt="..." style="width:100px">
		<%end%>
		<%end%>
	</td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Marque</th>
<% @products.each do |t, index| %>
<% if t.category === "surfboard" && t.domain === "wave" %>
      <td><%= t.brand %></td>
<% end %>
<%end%>
    </tr>
    <tr>
      <th scope="row">taille testé</th>
<% @products.each do |t, index| %>
<% if t.category === "surfboard" && t.domain === "wave" %>
      <td><%= t.testsize %></td>
<% end %>
<%end%>
    </tr>
    <tr>
      <th scope="row">Courbes</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>
      <td><% while @courbes < t.courbes %>
	    <i class="fas fa-star"></i>
	    <% @courbes = @courbes + 1 %>
	  <%end%>
	  <% @courbes = 0 %>
      </td>
<% end %>
<%end%>
    </tr>
    <tr>
      <th scope="row">Wind</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><% while @wind < t.wind %>
	    <i class="fas fa-star"></i>
	    <% @wind = @wind + 1 %>
	  <%end%>
	  <% @wind = 0 %>
      </td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Side-Shore</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><% while @sideshore < t.sideshore %>
	    <i class="fas fa-star"></i>
	    <% @sideshore = @sideshore + 1 %>
	  <%end%>
	  <% @sideshore = 0 %>
      </td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">On-Shore</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><% while @onshore < t.onshore %>
	    <i class="fas fa-star"></i>
	    <% @onshore = @onshore + 1 %>
	  <%end%>
	  <% @onshore = 0 %>
      </td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">wave</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><% while @wave < t.wave %>
	    <i class="fas fa-star"></i>
	    <% @wave = @wave + 1 %>
	  <%end%>
	  <% @wave = 0 %>
      </td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Freestyle</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><% while @freestyle < t.freestyle %>
	    <i class="fas fa-star"></i>
	    <% @freestyle = @freestyle + 1 %>
	  <%end%>
	  <% @freestyle = 0 %>
      </td>
<%end%>
<% end %>
    </tr>    <tr>
      <th scope="row">Strap</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><% while @strap < t.strap %>
	    <i class="fas fa-star"></i>
	    <% @strap = @strap + 1 %>
	  <%end%>
	  <% @strap = 0 %>
      </td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Strapless</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><% while @strapless < t.strapless %>
	    <i class="fas fa-star"></i>
	    <% @strapless = @strapless + 1 %>
	  <%end%>
	  <% @strapless = 0 %>
      </td>
<%end%>
<% end %>
    </tr>

    <tr>
      <th scope="row">Tailles disponibles</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><%= t.range %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Ailerons</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><%= t.fin %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">champs</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><%= t.champs %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Largeur</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><%= t.width %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Poids</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><%= t.weigh %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">longueur</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><%= t.length %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">maitrebau</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><%= t.maitrebau %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Epaisseur</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><%= t.thickness %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Volume</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><%= t.volum %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">boitier</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "wave"  %>      <td><%= t.box %></td>
<%end%>
<% end %>
    </tr>

    <tr>
      <th scope="row">Prix</th>
<% @products.each do |t, index| %>
<% if t.category === "surfboard" && t.domain === "wave" %>
      <td><%= t.price %> €</td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row"></th>
<% @products.each do |t, index| %>
<% if t.category === "surfboard" && t.domain === "wave" %>

      <td><a href="<%= surfboard_path(t) %>" class="scrollup btn btn-success">Détails</a>
</td>
<% end %>
<%end%>
    </tr>

  </tbody>
</table> 
</div>

                   <div class="tab-pane" id="schedule-2">
                      Ceci est un tableau comparatif des kites testés vague, pour avoir une idée plus précise, merci de bien lire le test de la voile en détail.                      <br>
<table class="table table-striped text-center p-2">
  <thead>
    <tr>
      <th scope="col">Noseless <i class="fas fa-chevron-circle-right"></i></th>
<% @products.each do |t, index| %>
<% if t.category === "surfboard" && t.domain === "freestyle" %>
      <th scope="col"><%= t.name %></th>
<%end%>
<% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Compétences<br><i class="fas fa-chevron-circle-down"></i></th>
<% @products.each do |t, index| %>
<% if t.category === "surfboard" && t.domain === "freestyle" %>
      <td><%= link_to surfboard_path(t), class:"nav-link" do %>
		<% if t.profil.attached? %>
  		  <%= image_tag t.profil, alt: 'kite picture', class:"img-raised rounded img-fluid", style:"width:100px" %>
		<% else %>
		<img src="assets/image.jpg" class="img-raised rounded img-fluid" alt="..." style="width:100px">
		<%end%>
		<%end%>
	</td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Marque</th>
<% @products.each do |t, index| %>
<% if t.category === "surfboard" && t.domain === "freestyle" %>
      <td><%= t.brand %></td>
<% end %>
<%end%>
    </tr>
    <tr>
      <th scope="row">taille testé</th>
<% @products.each do |t, index| %>
<% if t.category === "surfboard" && t.domain === "freestyle" %>
      <td><%= t.testsize %></td>
<% end %>
<%end%>
    </tr>
    <tr>
      <th scope="row">Courbes</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><% while @courbes < t.courbes %>
	    <i class="fas fa-star"></i>
	    <% @courbes = @courbes + 1 %>
	  <%end%>
	  <% @courbes = 0 %>
      </td>
<% end %>
<%end%>
    </tr>
    <tr>
      <th scope="row">Wind</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><% while @wind < t.wind %>
	    <i class="fas fa-star"></i>
	    <% @wind = @wind + 1 %>
	  <%end%>
	  <% @wind = 0 %>
      </td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Side-Shore</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><% while @sideshore < t.sideshore %>
	    <i class="fas fa-star"></i>
	    <% @sideshore = @sideshore + 1 %>
	  <%end%>
	  <% @sideshore = 0 %>
      </td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">On-Shore</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><% while @onshore < t.onshore %>
	    <i class="fas fa-star"></i>
	    <% @onshore = @onshore + 1 %>
	  <%end%>
	  <% @onshore = 0 %>
      </td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">wave</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><% while @wave < t.wave %>
	    <i class="fas fa-star"></i>
	    <% @wave = @wave + 1 %>
	  <%end%>
	  <% @wave = 0 %>
      </td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Freestyle</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>

      <td><% while @freestyle < t.freestyle %>
	    <i class="fas fa-star"></i>
	    <% @freestyle = @freestyle + 1 %>
	  <%end%>
	  <% @freestyle = 0 %>
      </td>
<%end%>
<% end %>
    </tr>    <tr>
      <th scope="row">Strap</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><% while @strap < t.strap %>
	    <i class="fas fa-star"></i>
	    <% @strap = @strap + 1 %>
	  <%end%>
	  <% @strap = 0 %>
      </td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Strapless</th>
<% @technics.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><% while @strapless < t.strapless %>
	    <i class="fas fa-star"></i>
	    <% @strapless = @strapless + 1 %>
	  <%end%>
	  <% @strapless = 0 %>
      </td>
<%end%>
<% end %>
    </tr>

    <tr>
      <th scope="row">Tailles disponibles</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><%= t.range %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Ailerons</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><%= t.fin %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">champs</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><%= t.champs %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Largeur</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><%= t.width %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Poids</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><%= t.weigh %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">longueur</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><%= t.length %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">maitrebau</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><%= t.maitrebau %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Epaisseur</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><%= t.thickness %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">Volume</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><%= t.volum %></td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row">boitier</th>
<% @options.each do |t, index| %>
      <% if @products.find(t.product_id).category === "surfboard" && @products.find(t.product_id).domain === "freestyle"  %>
      <td><%= t.box %></td>
<%end%>
<% end %>
    </tr>

    <tr>
      <th scope="row">Prix</th>
<% @products.each do |t, index| %>
<% if t.category === "surfboard" && t.domain === "freestyle" %>
      <td><%= t.price %> €</td>
<%end%>
<% end %>
    </tr>
    <tr>
      <th scope="row"></th>
<% @products.each do |t, index| %>
<% if t.category === "surfboard" && t.domain === "freestyle" %>

      <td><a href="<%= surfboard_path(t) %>" class="scrollup btn btn-success">Détails</a>
</td>
<% end %>
<%end%>
    </tr>

  </tbody>
</table> 
</div>
</section>

<br>
<br>
<br>
    <%= yield %>

  </body>
</html>

