<%= render "layouts/navbartest" %>
<body class="pt-5 profile-page sidebar-collapse">
<%if @product.background.attached? %>
<div class="page-header" id="header" data-parallax="true" style="background-image: url(<%= rails_blob_url(@product.background)%>);"></div>
<% else %>
<div class="page-header" id="header" data-parallax="true" style="background-image: url('/assets/Cape_Town.jpg');"></div>
<% end %>
  <div class="main main-raised p-2">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
		<%if @product.profil.attached? %>
  		  <%= image_tag @product.profil, alt: 'kite picture', class:"img-raised rounded img-fluid" %>
		<% else %>
                  <img src="/assets/image.jpg" alt="Circle Image" class="img-raised rounded img-fluid">
		<% end %>
		<%if @product.detail.attached? %>
 		  <%= image_tag @product.detail.first, alt: 'kite picture', class:"img-raised rounded img-fluid m-4", style:"width:150px" %>
  		  <%= image_tag @product.detail.second, alt: 'kite picture', class:"img-raised rounded img-fluid m-4", style:"width:150px" %>
 		  <%= image_tag @product.detail.third, alt: 'kite picture', class:"img-raised rounded img-fluid m-4", style:"width:150px" %>
		<% else %>
                  <img src="/assets/image.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:150px">
                  <img src="/assets/image.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:150px">
                  <img src="/assets/image.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:150px">
		<% end %>              </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <h1 class="title" id="navshow"> <%= @product.name %></h1>
	<h3 class="ml-4"> by <%= @product.brand %></h3>

   <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <div class="profile-tabs">
          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
	    <li class="nav-item">
              <%= link_to surfboard_index_path(anchor: "surfboard"), class:"nav-link" do %>
		<i class="text-center text-warning fas fa-chevron-left"></i>
		<h6 class="text-center text-warning">Toutes les directionnelles</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to surfboard_path(anchor: "resume"), class:"nav-link active" do %>
              <i class="text-center text-warning fas fa-comment-dots"></i>
		<h6 class="text-center text-warning">En bref</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to surfboard_path(anchor: "idcard"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-id-card"></i>
		<h6 class="text-center text-warning">Id Card</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to surfboard_path(anchor: "competence"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-sliders-h"></i>
		<h6 class="text-center text-warning">Competences</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to surfboard_path(anchor: "video"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-video"></i>
		<h6 class="text-center text-warning">Video</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to accessory_index_path(anchor: "accessoires"), class:"nav-link" do %>
		<i class="text-center text-warning fas fa-chevron-right"></i>
		<h6 class="text-center text-warning">Tous les foils</h6>
		<%end%>
            </li>
          </ul>
        </div>
      </div>
    </div>

	<section id="resume">
          <h2 class="ml-5 fas fa-comment-dots"> En bref</h2>
	<div class="d-flex justify-content-center">
	  <div class="card col-lg-10 m-3 p-3">
            <div class="row">
              <div class="col-md-3">
                <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
                  <div class="col-md-12 ml-auto mr-auto">
                    <img src="/assets/Hugo.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                </ul>
              </div>
              <div class="col-md-8">
                <div class="tab-content">
		  <p><%= @product.description %></p>
                </div>
              </div>
            </div>
  		<a href="#header" class="scrollup d-flex justify-content-end align-items-end mr-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
          </div>
	</div>
	</section>

	<section id="idcard">
          <h2 class="ml-5 fas fa-id-card"> Id Card</h2>
	  <%= render"layouts/flash" %>
	<div class="d-flex justify-content-center">
          <div class="col-md-11">
            <div class="name">
	      <div class="card pb-4">
	        <div class="row">
		  <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                      <h2 class=""><i class="fas fa-id-badge"></i> <%= @product.name %></h2>
		<%if @product.picture.size >= 5%>
 		  <%= image_tag @product.picture.fifth, alt: 'kite picture', class:"img-raised rounded img-fluid mt-2", style:"width:200px" %>
		<%else%>
                      <img src="/assets/testkite/bandit ride.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid mt-2" style="width:200px">
		<%end%>
                    </div>
                  </div>
                  <div class="mt-5 col-md-4 col-sm-12">
                    <h3><i class="fas fa-heart"></i> On a aimé : <%= @product.favorite %></h3>
                    <h6>Domain : <%= @product.domain %></h6>
                    <h6>Taille testé : <%= @product.testsize %>m</h6>
                    <h6>Tailles disponible : <%= @option.range %></h6>
                    <h6>Prix en shop : <%= @product.price %>€ pour une board nue</h6>
		      <% if @product.link.present? %>
		      <h6>Plus d'infos : <a class="mt-3 btn btn-sm btn-outline-info" href="<%= @product.link %>" target="blank_"><%= @product.link %></a></h6>
		      <%end%>
		    <div class="card text-dark bg-light p-1 col-md-11">
		      <h6>details : <%= @option.detail %></h6>
		    </div>	
		  </div>
                  <div class="mt-5 col-md-5 col-sm-12">
                    <h3><i class="fas fa-cog"></i>  Caractéristique :</h3>
		<div class="row">
		<div class="col-md-6">
                    <h6><i class="fab fa-steam-symbol fa-2x"></i> Longueur : <%= @option.length %></h6>
                    <h6><i class="fab fa-steam-symbol fa-2x"></i> Maître-bau : <%= @option.maitrebau %></h6>
                    <h6><i class="fab fa-steam-symbol fa-2x"></i> largeur à 30 : <%= @option.width %></h6>
                    <h6><i class="fab fa-steam-symbol fa-2x"></i> Epaisseur : <%= @option.thickness %></h6>
                    <h6><i class="fab fa-steam-symbol fa-2x"></i> Poids : <%= @option.weigh %></h6>
		</div>
		<div class="col-md-6">
                    <h6><i class="fab fa-steam-symbol fa-2x"></i> Volume : <%= @option.volum %></h6>
                    <h6><i class="fab fa-steam-symbol fa-2x"></i> Ailerons : <%= @option.fin %></h6>
                    <h6><i class="fab fa-steam-symbol fa-2x"></i> Carène : <%= @option.carene %></h6>
                    <h6><i class="fab fa-steam-symbol fa-2x"></i> Boitier : <%= @option.box %></h6>
		</div>
		      <%= render"layouts/compare" %>
		  </div>
                </div>
              </div>
  		<a href="#header" class="scrollup d-flex justify-content-end align-items-end mr-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
            </div>
          </div>
	</div>
	</section>

  <%= render"layouts/carousel" %>

	<section id="competence">
          <h2 class="ml-5 fas fa-sliders-h"> Compétences</h2>
	    <div class="m-3 d-flex flex-row justify-content-around">
	      <div class="col-sm-5 m-3 p-3" style="width:100%">
		<%= render"surfboardcomp" %>
	      </div>
	      <div class="col-sm-5 m-3">
		<%if @product.competence.attached? %>
 		  <%= image_tag @product.competence, alt: 'kite picture', class:"img-raised rounded img-fluid mt-2", style:"width:100%" %>
		<%else%>
                  <img src="/assets/image.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid mt-2" style="width:100%">
		<%end%>
	      </div>
	    </div>

<%= render"surfboardcomp2" %>


  		<a href="#header" class="scrollup d-flex justify-content-end align-items-end"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>

	</section>

        <section id="video">
	<% if @product.youtube.present? %>
          <h2 class="ml-5 fas fa-video"> Video</h2>
	  <div class="d-flex justify-content-center">
            <div class="card row m-3 p-3 col-lg-8">
              <div class="d-flex justify-content-center">
		<iframe width="560" height="315" src="<%= @product.youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	      </div>
	      <a href="#header" class="scrollup d-flex justify-content-end align-items-end mr-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
            </div>
	  </div>
	<%end%>
        </section>

	<section id="product">
	          <h2 class="ml-5 fas fa-plus"> Produits associés</h2>
<div class="row">
  <div class="col-sm-4">
      <div class="card-body">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
	<h5 class="text-dark">Autres surf <%= @product.domain %></h5>
    <a href="<%= surfboard_index_path %>" class="btn btn-success">Autres tests</a>
      <img class="d-block w-100" src="/assets/image.jpg" alt="First slide">
    </div>
      <% @products.each do |t, index| %>
<% if t.category === "surfboard" && t.domain === @product.domain && t.picture.attached? && t.id != @product.id %>
    <div class="carousel-item">
	<h3 class="text-dark"><%= t.brand %> <%= t.name %></h3>
    <a href="<%= surfboard_path(t) %>" class="btn btn-success">Voir le test</a>
      <%= image_tag t.profil, class:"d-block w-100" %>
    </div>
<% end %>
<% end %>

  </div>
</div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="card-body">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
	<h5 class="text-dark">Autres kites <%= @product.domain %></h5>
    <a href="<%= kite_index_path %>" class="btn btn-success">Autres tests</a>
      <img class="d-block w-100" src="/assets/testkite/bandit.png" alt="First slide">
    </div>
      <% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === @product.domain && t.picture.attached? %>
    <div class="carousel-item">
	<h3 class="text-dark"><%= t.brand %> <%= t.name %></h3>
    <a href="<%= kite_path(t) %>" class="btn btn-success">Voir le test</a>
      <%= image_tag t.profil, class:"d-block w-100" %>
    </div>
<% end %>
<% end %>
  </div>
</div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="card-body">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
	<h5 class="text-dark">Autres accessoires</h5>
    <a href="<%= kite_index_path %>" class="btn btn-success">Autres tests</a>
      <img class="d-block w-100" src="/assets/testaccessory/harness.png" alt="First slide">
    </div>
      <% @products.each do |t, index| %>
<% if t.category === "accessory" && t.domain === @product.domain && t.picture.attached? %>
    <div class="carousel-item">
	<h3 class="text-dark"><%= t.brand %> <%= t.name %></h3>
    <a href="<%= accessory_path(t) %>" class="btn btn-success">Voir le test</a>
      <%= image_tag t.picture.first, class:"d-block w-100" %>
    </div>
<% end %>
<% end %>

  </div>
</div>
      </div>
  </div>
</div>
</section>


	<div class="d-flex justify-content-end">
              <a class="btn-primary btn-sm" href="<%= surfboard_index_path %>"><i class="fas fa-caret-square-left"></i>  Retour surfboards</a>
	</div>
    </div>
  </div>
</div>
</body>



