<body style="background-image: url('/assets/background/admin.jpg')">

  <% if @product.errors.any? %>
  <div class="alert alert-danger" role="alert">
            <p>Nous n'avons pas réussi à modifier l'utilisateur pour la (ou les) raison(s) suivante(s) :</p>
            <ul>
              <% @product.errors.full_messages.each do |message| %>
                <li class="li_errors"><%= message %></li>
              <% end %>
            </ul>
    </div>
      <% end %>
<div class="m-2">
    <%= link_to " ", admin_kite_index_path, class:"pull-left btn btn-danger fas fa-arrow-left", style:"font-size:30px" %>
</div>
<br>
        <h2 class="title text-white"> Créer un kite</h2>      
<div class="container card card-body p-5" >
        <h3 class="title text-center"> Infos principales</h3>
  <div class="row">

  <div class="col-sm-10">
      <div class="card-body">
                  <img src="/assets/defaut.jpg" alt="Circle Image" class="img-raised rounded img-fluid">
      </div>
  </div>

            <%= form_tag url_for(action: 'create'), method: 'post' do %>
              <div class="row">
                <div class="col-3">
                  <%= label_tag 'modèle' %>
                  <%= text_field_tag 'name', @product.name, class: "form-control" %>
                </div>
                <div class="col-3">
                  <%= label_tag 'Marque' %>
                  <%= text_field_tag 'brand', @product.brand, class: "form-control" %>
                </div>
                <div class="col-3">
                  <%= label_tag 'Domaine' %>
                  <%= text_field_tag 'domain', @product.domain, class: "form-control" %>
                </div>
                <div class="col-3">
                  <%= label_tag 'favoris' %>
                  <%= text_field_tag 'favorite', @product.favorite, class: "form-control" %>
                </div>
              </div>


        <h3 class="title text-center"> Compétences</h3>
              <div class="row">
                <div class="col-2">
              <%= label_tag 'wave' %>
              <%= text_field_tag 'wave', @technic.wave, class: "form-control" %>
		</div>
                <div class="col-2">
              <%= label_tag 'Big Air' %>
              <%= text_field_tag 'bigair', @technic.bigair, class: "form-control" %>
		</div>
                <div class="col-2">
              <%= label_tag 'freeride' %>
              <%= text_field_tag 'freeride', @technic.freeride, class: "form-control"%>
		</div>
                <div class="col-2">
              <%= label_tag 'freestyle' %>
              <%= text_field_tag 'freestyle', @technic.freestyle, class: "form-control"%>
		</div>
                <div class="col-2">
              <%= label_tag 'maniability' %>
              <%= text_field_tag 'maniability', @technic.maniability, class: "form-control"%>
		</div>
                <div class="col-2">
              <%= label_tag 'feeling' %>
              <%= text_field_tag 'feeling', @technic.feeling, class: "form-control"%>
		</div>
		</div>

  <div class="col-sm-10">
      <div class="card-body">
                  <img src="/assets/defaut2.jpg" alt="Circle Image" class="img-raised rounded img-fluid">
      </div>
  </div>

        <h3 class="title text-center"> Caractérisques</h3>
              <div class="row">
                <div class="col-2">
              <%= label_tag 'detail' %>
              <%= text_field_tag 'detail', @option.detail, class: "form-control"%>
		</div>
                <div class="col-2">
              <%= label_tag 'taille disponible' %>
              <%= text_field_tag 'range', @option.range, class: "form-control"%>
		</div>
                <div class="col-2">
              <%= label_tag 'bridage' %>
              <%= text_field_tag 'bridle', @option.bridle, class: "form-control"%>
		</div>
                <div class="col-2">
              <%= label_tag 'strut' %>
              <%= text_field_tag 'strut', @option.strut, class: "form-control"%>
		</div>
                <div class="col-2">
              <%= label_tag 'taille testé' %>
              <%= text_field_tag 'testsize', @product.testsize, class: "form-control"%>
		</div>
                <div class="col-2">
              <%= label_tag 'prix' %>
              <%= text_field_tag 'price', @product.price, class: "form-control"%>
		</div>
                <div class="col-2">
              <%= label_tag 'millésime' %>
              <%= text_field_tag 'year', @product.year, class: "form-control"%>
		</div>
                <div class="col-6">
              <%= label_tag 'lien youtube' %>
              <%= text_field_tag 'youtube', @product.youtube, class: "form-control"%>
		</div>
                <div class="col-6">
              <%= label_tag 'lien site constructeur' %>
              <%= text_field_tag 'link', @product.link, class: "form-control"%>
		</div>
                <div class="col-12">
              <%= label_tag 'description' %>
              <%= text_field_tag 'description', @product.description, class: "form-control"%>
		</div>
                </div>

              <center><%= submit_tag "Creer le kite", class:"m-4 btn btn-outline-primary" %></center>
            <% end %>
        </div>
      </div>
</body>
