<%= render"layouts/navbartest" %>
<body class="pt-5 profile-page sidebar-collapse">
<div class="page-header" id="header" data-parallax="true" style="background-image: url('/assets/Cape_Town.jpg');"></div>
  <div class="main main-raised p-2">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
		<%if @product.picture.size >= 4%>
  		  <%= image_tag @product.picture.first, alt: 'kite picture', class:"img-raised rounded img-fluid" %>
 		  <%= image_tag @product.picture.second, alt: 'kite picture', class:"img-raised rounded img-fluid m-4", style:"width:150px" %>
  		  <%= image_tag @product.picture.third, alt: 'kite picture', class:"img-raised rounded img-fluid m-4", style:"width:150px" %>
 		  <%= image_tag @product.picture.fourth, alt: 'kite picture', class:"img-raised rounded img-fluid m-4", style:"width:150px" %>
		<% elsif @product.picture.size >= 1 %>
  		  <%= image_tag @product.picture.first, alt: 'kite picture', class:"img-raised rounded img-fluid" %>
                  <img src="/assets/testkite/bridage bandit.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:150px">
                  <img src="/assets/testkite/valve bandit.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:150px">
                  <img src="/assets/testkite/poulie bandit.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:150px">
		<% else %>
                  <img src="/assets/testkite/bandit.png" alt="Circle Image" class="img-raised rounded img-fluid">
                  <img src="/assets/testkite/bridage bandit.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:150px">
                  <img src="/assets/testkite/valve bandit.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:150px">
                  <img src="/assets/testkite/poulie bandit.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:150px">
		<% end %>
              </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <h1 class="title" id="navshow"> <%= @product.name %></h1>
	<h3 class="ml-4"> by <%= @product.brand %></h3>

  <nav id='nav_bar'>
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <div class="profile-tabs">
          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
	    <li class="nav-item">
              <%= link_to kite_index_path(anchor: "kite"), class:"nav-link" do %>
		<h6 class="text-center text-warning">Tous les kites</h6>
		<i class="text-center text-warning fas fa-chevron-left"></i>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_path(anchor: "resume"), class:"nav-link active" do %>
              <i class="text-center text-warning fas fa-comment-dots"></i>
		<h6 class="text-center text-warning">En bref</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_path(anchor: "idcard"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-id-card"></i>
		<h6 class="text-center text-warning">Id Card</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_path(anchor: "competence"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-sliders-h"></i>
		<h6 class="text-center text-warning">Competences</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_path(anchor: "video"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-video"></i>
		<h6 class="text-center text-warning">Video</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_path(anchor: "bar"), class:"nav-link disabled" do %>
              <i class="text-center text-warning fas fa-gamepad"></i>
		<h6 class="text-center text-warning">Barre</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to board_index_path(anchor: "board"), class:"nav-link" do %>
		<i class="text-center text-warning fas fa-chevron-right"></i>
		<h6 class="text-center text-warning">Tous les Twin-Tips</h6>
		<%end%>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>

	<section id="resume">
	<div class="d-flex justify-content-center">
	  <div class="card col-lg-8 m-3 p-3">
            <div class="row">
              <div class="col-md-3">
                <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
                  <div class="col-md-12 ml-auto mr-auto">
                    <img src="/assets/Hugo.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                </ul>
              </div>
              <div class="col-md-8">
                <div class="tab-content">
		  <p><%= @product.description %></p>
                </div>
              </div>
            </div>
  		<a href="#header" class="scrollup d-flex justify-content-end align-items-end mr-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
          </div>
	</div>
	</section>

	<section id="idcard">
          <h2 class="ml-5 fas fa-id-card"> Id Card</h2>
	<div class="d-flex justify-content-center">
          <div class="col-md-8">
            <div class="name">
	      <div class="card pb-4">
	        <div class="row">
		  <div class="col-md-5 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                      <h2></i> <%= @product.name %> <%= @product.year %></h2>
		<%if @product.picture.size >= 5%>
 		  <%= image_tag @product.picture.fifth, alt: 'kite picture', class:"img-raised rounded img-fluid mt-2", style:"width:200px" %>
		<%else%>
                      <img src="/assets/testkite/bandit ride.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid mt-2" style="width:200px">
		<%end%>
                    </div>
                  </div>
                  <div class="mt-5 col-md-7 col-sm-12">
                    <h3><i class="fas fa-heart"></i>  Son point fort : <%= @product.favorite %></h3>
                    <h6>Domain : <%= @product.domain %></h6>
                    <h6>Taille testé : <%= @product.testsize %>m</h6>
                    <h6>Tailles disponible : <%= @option.range %></h6>
                    <h6>Prix en shop : <%= @product.price %>€ pour une <%= @product.testsize %>m nue</h6>
		    <h6>nombre de lattes : <%= @option.strut %></h6>
		    <h6>type de bridage : <%= @option.bridle %></h6>
		    <a class="btn btn-success" href="<%= @product.link %>" target="blank_">more details</a>
		  </div>
                </div>
  		<a href="#header" class="scrollup d-flex justify-content-end align-items-end mr-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
              </div>
            </div>
          </div>
	</div>
	</section>

	<section id="competence">
          <h2 class="ml-5 fas fa-sliders-h"> Compétences</h2>

<div class="m-3 d-flex flex-row">

<div class="card m-3 p-3" style="width:60%">
<h6>Wave : <%= @technic.wave %>/5</h6>

<div class="progress">
  <div class="progress-bar bg-primary" role="progressbar" style="width: <%= @technic.wave*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<h6>Big Air: <%= @technic.bigair %>/5</h6>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: <%= @technic.bigair*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>Freeride: <%= @technic.freeride %>/5</h6>
<div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: <%= @technic.freeride*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>Freestyle: <%= @technic.freestyle %>/5</h6>
<div class="progress">
  <div class="progress-bar bg-warning" role="progressbar" style="width: <%= @technic.freestyle*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Freestyle</div>
</div>
<h6>Maniability: <%= @technic.maniability %>/5</h6>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: <%= @technic.maniability*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>Feeling: <%= @technic.feeling %>/5</h6>
<div class="progress">
  <div class="progress-bar bg-rose" role="progressbar" style="width: <%= @technic.feeling*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>


<div class="card m-3 p-3">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner">
		<%if @product.picture.size >= 12%>
    <div class="carousel-item active">
	<%= image_tag @product.picture.last, alt: 'kite picture', class:"d-block w-100" %>
    </div>
		<% @product.picture.each do |t, index| %>
		<% if t != @product.picture.first && t != @product.picture.second && t != @product.picture.third && t != @product.picture.fourth && t != @product.picture.fifth %>
    <div class="carousel-item">
	<%= image_tag t , alt: 'kite picture', class:"d-block w-100" %>
    </div>
		<% end %>
		<% end %>
	<% else %>
    <div class="carousel-item active">
      <img class="d-block w-100" src="/assets/testkite/picture1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/testkite/picture2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/testkite/picture3.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/testkite/picture4.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/testkite/picture5.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/testkite/picture6.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/testkite/picture7.jpg" alt="Second slide">
    </div>
	<% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  		<a href="#header" class="scrollup d-flex justify-content-end align-items-end"><i class="btn-sm btn-primary mt-2 fa fa-caret-square-up"></i></a>
</div>


</div>

	</section>


        <section id="video">
          <h2 class="ml-5 fas fa-video"> Video</h2>
	<div class="d-flex justify-content-center">
            <div class="card row m-3 p-3 col-lg-8">
              <div class="d-flex justify-content-center">
		<iframe width="560" height="315" src="<%= @product.youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	      </div>
  		<a href="#header" class="scrollup d-flex justify-content-end align-items-end mr-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
            </div>
	</div>
        </section>

	<section id="bar">
	          <h2 class="ml-5 fas fa-id-card"> Barre</h2>
      <% @products.each do |t, index| %>
<% if t.domain === "bar" && t.brand === @product.brand %> 
	<div class="d-flex justify-content-center">
          <div class="col-md-10">
            <div class="name">
	      <div class="card pb-4">
	        <div class="row">
		  <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                      <h2 class=""><i class="fas fa-id-badge"></i> <%= t.name %></h2><h3> by <%= t.brand %></h3>
			<a href="<%= accessory_path(t) %>">
                      <img src="/assets/testaccessory/bar2.png" alt="Thumbnail Image" class="img-raised rounded img-fluid mt-2" style="width:200px"></a>
                    </div>
                  </div>
                  <div class="mt-5 col-md-4 col-sm-12">
                    <h3><i class="fas fa-heart"></i>  On a aimé : <%= t.favorite %></h3>
                    <h6>Taille testé : <%= t.testsize %>m</h6>
                    <h6>Tailles disponible : <%= @options.find(t.option_id).range %></h6>
                    <h6>Prix en shop : <%= t.price %>€</h6>
		    <h6>grip : mou<% while @grip < @technics.find(t.technic_id).grip %>
	    		<i class="fas fa-circle"></i>
	    		<% @grip = @grip + 1 %>
	  		<%end%>
			<% while @grip < 6 %>
	    		<i class="far fa-circle"></i>
			<% @grip = @grip + 1 %>
			<% end %>
	  		<% @grip = 0 %>
		    dur</h6>
			<div class="card p-1">
			<h6>details : <%= @options.find(t.option_id).detail %></h6>
			</div>

		  </div>
                  <div class="mt-5 col-md-4 col-sm-12">
                    <h3><i class="fas fa-cog"></i>  Caractéristique :</h3>
                    <h6><i class="fab fa-steam-symbol"></i> Longueur de ligne : <%= @options.find(t.option_id).line %>m</h6>
                    <h6><i class="fab fa-steam-symbol"></i> Trim : <%= @options.find(t.option_id).trim %></h6>
                    <h6><i class="fab fa-steam-symbol"></i> Dévrilleur ? : <%= @options.find(t.option_id).twist %></h6>
                    <h6><i class="fab fa-steam-symbol"></i> Configuration des avants : <%= @options.find(t.option_id).v %></h6>
		    <a class="btn btn-success" href="<%= @product.link %>" target="blank_">more details</a>
		  </div>
                 
                </div>
  		<a href="#header" class="scrollup d-flex justify-content-end align-items-end mr-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
              </div>
            </div>
          </div>
	</div>
<%end%>
<%end%>
	</section>

	<section id="product">
	          <h2 class="ml-5 fas fa-plus"> Produits associés</h2>
<div class="row">
  <div class="col-sm-4">
      <div class="card-body">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
	<h5 class="text-dark">Autres kites <%= @product.domain %></h5>
    <a href="<%= kite_index_path %>" class="btn btn-success">Autres tests</a>
      <img class="d-block w-100" src="/assets/testkite/bandit.png" alt="First slide">
    </div>
      <% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === @product.domain && t.picture.attached? && t.id != @product.id %>
    <div class="carousel-item">
	<h3 class="text-dark"><%= t.brand %> <%= t.name %></h3>
    <a href="<%= kite_path(t) %>" class="btn btn-success">Voir le test</a>
      <%= image_tag t.picture.first, class:"d-block w-100" %>
    </div>
<% end %>
<% end %>
  </div>
</div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="card-body">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
	<h5 class="text-dark">Autres twin-tips <%= @product.domain %></h5>
    <a href="<%= board_index_path %>" class="btn btn-success">Autres tests</a>
      <img class="d-block w-100" src="/assets/testboard/board2.png" alt="First slide">
    </div>
      <% @products.each do |t, index| %>
<% if t.category === "board" && t.domain === @product.domain && t.picture.attached? %>
    <div class="carousel-item">
	<h3 class="text-dark"><%= t.brand %> <%= t.name %></h3>
    <a href="<%= kite_path(t) %>" class="btn btn-success">Voir le test</a>
      <%= image_tag t.picture.first, class:"d-block w-100" %>
    </div>
<% end %>
<% end %>

  </div>
</div>
      </div>
  </div>
  <div class="col-sm-4">
      <div class="card-body">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
	<h5 class="text-dark">Autres accessoires</h5>
    <a href="<%= kite_index_path %>" class="btn btn-success">Autres tests</a>
      <img class="d-block w-100" src="/assets/testaccessory/harness.png" alt="First slide">
    </div>
      <% @products.each do |t, index| %>
<% if t.category === "accessory" && t.domain === @product.domain && t.picture.attached? %>
    <div class="carousel-item">
	<h3 class="text-dark"><%= t.brand %> <%= t.name %></h3>
    <a href="<%= accessory_path(t) %>" class="btn btn-success">Voir le test</a>
      <%= image_tag t.picture.first, class:"d-block w-100" %>
    </div>
<% end %>
<% end %>

  </div>
</div>
      </div>
  </div>
</div>
</section>
  		<a href="#header" class="scrollup d-flex justify-content-end align-items-end m-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
	</section>

	<div class="d-flex justify-content-end">
              <a class="btn-primary btn-sm" href="<%= kite_index_path %>"><i class="fas fa-caret-square-left"></i>  Retour kites</a>
	</div>
    </div>
  </div>
</div>
</body>






