<% if user_signed_in? && current_user.is_admin == true%>
<%= render"layouts/navbaradmin" %>
<%else%>
<%= render"layouts/navbar" %>
<%end%>

<body class="profile-page sidebar-collapse">
  <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('/assets/background/intro2.jpg');">

<div class="space-30 m-5">
</div>
<div class="space-30 m-5">
</div>
    <!--         carousel  -->
    <div class="section col-sm-6 m-5" id="carousel">
      <div class="col-md-12 mr-auto ml-auto">
            <!-- Carousel Card -->
        <div class="card-raised card-carousel bg-transparent">
          <div id="carouselExampleIndicators" class="carousel slide bg-transparent" data-ride="carousel" data-interval="5000">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets/logo_KSM.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <div class="carousel-item">
	        <div class="row">
  		  <div class="col-sm-6">
		    <% if @articles.last.image.attached? %>
  	  	      <%= image_tag @articles.last.image.first, alt: 'second slide', class:"card img-rounded img-responsive d-block w-100", style:"width:100%" %>
		    <% else %>
          	      <img src="assets/image.jpg" alt="kite image" class="img-rounded img-responsive" style="width:100%">
		    <% end %> 
  		  </div>
  	          <div class="col-sm-6">
    		    <div class="bg-transparent">
      		      <div class="card-body">
        	        <h2 class="card-title"><%= @articles.last.title %></h2>
        	        <h5 class="card-text d-inline-block text-truncate" style="max-width: 300px;"><%= @articles.last.intro %></h5>
      		      </div>
    		    </div>
  	          </div>
	        </div>
	      </div>
              <div class="carousel-item">
	        <div class="row">
  	          <div class="col-sm-6">
    		    <div class="bg-transparent">
      		      <div class="card-body">
        	        <h2 class="card-title"><%= @events.last.title %></h2>
        	        <h5 class="card-text d-inline-block text-truncate" style="max-width: 300px;"><%= @events.last.intro %></h5>
      		      </div>
    		    </div>
  	          </div>
  		  <div class="col-sm-6">
		    <% if @events.last.image.attached? %>
  	  	      <%= image_tag @events.last.image.first, alt: 'second slide', class:"card img-rounded img-responsive d-block w-100", style:"width:100%" %>
		    <% else %>
          	      <img src="assets/image.jpg" alt="kite image" class="img-rounded img-responsive" style="width:100%">
		    <% end %> 
  		  </div>
	        </div>
	      </div>
              <div class="carousel-item">
	        <div class="row">
  		  <div class="col-sm-6">
		    <% if @portfolios.last.image.attached? %>
  	  	      <%= image_tag @portfolios.last.image.first, alt: 'second slide', class:"card img-rounded img-responsive d-block w-100", style:"width:100%" %>
		    <% else %>
          	      <img src="assets/image.jpg" alt="kite image" class="img-rounded img-responsive" style="width:100%">
		    <% end %>
  		  </div>
  	          <div class="col-sm-6">
    		    <div class="bg-transparent">
      		      <div class="card-body">
        	        <h2 class="card-title"><%= @portfolios.last.title %></h2>
        	        <h5 class="card-text d-inline-block text-truncate" style="max-width: 300px;"><%= @portfolios.last.intro %></h5>
      		      </div>
    		    </div>
  	          </div>
	        </div>
	      </div>
              <div class="carousel-item">
	        <div class="row">
  	          <div class="col-sm-6">
    		    <div class="bg-transparent">
      		      <div class="card-body">
        	        <h2 class="card-title"><%= @tests.title %></h2>
        	        <h5 class="card-text d-inline-block text-truncate" style="max-width: 300px;"><%= @tests.intro %></h5>
      		      </div>
    		    </div>
  	          </div>
  		  <div class="col-sm-6">
		    <% if @tests.background.attached? %>
  	  	      <%= image_tag @tests.background, alt: 'second slide', class:"card img-rounded img-responsive d-block w-100", style:"width:100%" %>
		    <% else %>
          	      <img src="assets/image.jpg" alt="kite image" class="img-rounded img-responsive" style="width:100%">
		    <% end %>
  		  </div>
	        </div>
	      </div>
            </div>
          </div>
        </div>
      </div>
    <!-- End Carousel Card -->
    </div>
  </div>

  <div class="main main-raised">
    <div class="col-md-12">
      <%= render"layouts/flash" %>
    </div>

    <div class="row m-2">

        <!-- News -->
      <div class="col-sm-3">

      <div class="card-body p-1">
        <img class="card-img-top" src="/assets/logo_KSM.png" alt="Card image cap">
          <h5 class="card-title"> Suivez-nous </h5>
          <ul class="social-network social-circle d-flex justify-content-between">
            <a href="https://www.facebook.com/kitesurfmag/" target="blank_" class="icoFacebook mr-1" title="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/kitesurfmagofficiel/"  target="blank_" class="icoLinkedin ml-1" title="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/Kitesurf_Mag"  target="blank_" class="icoTwitter mx-1" title="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/user/sharkeye34/"  target="blank_" class="icoGoogle mx-1" title="Youtube"><i class="fab fa-youtube"></i></a>
	</ul>
      </div>

        <% @articles.each do |t, index| %>
          <div class="card">
		    <% if t.image.attached? %>
  	  	      <%= image_tag t.image.first, alt: 'second slide', class:"card img-rounded img-responsive d-block w-100", style:"width:100%" %>
		    <% else %>
          	      <img src="assets/image.jpg" alt="kite image" class="img-rounded img-responsive" style="width:100%">
		    <% end %>
             <div class="card-body">
            <h5 class="card-title"><%= t.title %></h5>
            <p class="card-text"><%= t.intro %></p>
            <a href="<%= article_path(t) %>" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      <% end %>
    </div>
            <!-- Time line -->
  <div class="col-sm-7">
      <div class="container mt-1 mb-5">
	<div class="row">
	  <div class="col-md-12">
	    <h2>Dernières actualités</h2>
	      <ul class="timeline">
	        <% @news.each do |t, index| %>
		<li>
		    <h5 class="card-title"><%= t.created_at.strftime('%m - %d - %Y') %></h5>
		  <div class="card">
	<% if t.image.attached? %>
  	  <%= image_tag t.image.first, alt: 'kite image', class:"img-rounded img-responsive", style:"width:100%" %>
	<% else %>
          <img src="assets/image.jpg" alt="kite image" class="img-rounded img-responsive" style="width:100%">
	<% end %>
 		    <div class="card-body">
		    <h5 class="card-title"><%= t.title %></h5>
		  </div>
		</div>
	      </li>
	     <%end%>
	    </ul>
	  </div>
	</div>
      </div>
  </div>


  <div class="col-sm-2">
    <div class="space"></div>

      <div class="card my-2 py-1">
	<% if @tests.image.attached? %>
  	  <%= image_tag @tests.image.first, alt: 'kite image', class:"img-rounded img-responsive", style:"width:100%" %>
	<% else %>
          <img src="assets/image.jpg" alt="kite image" class="img-rounded img-responsive" style="width:100%">
	<% end %>        
	<div class="card-body">
          <h5 class="card-title text-left"><%= @tests.title %></h5>
          <p class="card-text d-inline-block text-truncate" style="max-width: 100px;"><%= @tests.content %></p>
        </div>
      </div>

      <div class="bg-light my-2 py-1">
	<% if @tests.image.attached? %>
  	  <%= image_tag @tests.image.second, alt: 'kite image', class:"img-rounded img-responsive", style:"width:100%" %>
	<% else %>
          <img src="assets/image.jpg" alt="kite image" class="img-rounded img-responsive" style="width:100%">
	<% end %>        
	<div class="card-body">
          <h5 class="card-title text-left"><%= @tests.title2 %></h5>
          <p class="card-text d-inline-block text-truncate" style="max-width: 100px;"><%= @tests.content2 %></p>
        </div>
      </div>

      <div class="card my-2 py-1">
	<% if @tests.image.attached? %>
  	  <%= image_tag @tests.image.third, alt: 'kite image', class:"img-rounded img-responsive", style:"width:100%" %>
	<% else %>
          <img src="assets/image.jpg" alt="kite image" class="img-rounded img-responsive" style="width:100%">
	<% end %>        
	<div class="card-body">
          <h5 class="card-title text-left"><%= @tests.title3 %></h5>
          <p class="card-text d-inline-block text-truncate" style="max-width: 100px;"><%= @tests.content3 %></p>
        </div>
      </div>

  </div>

</div>



        <div id="extras">
            <div class="space"></div>
            <div class="row">
                <div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                        <img src="assets/image.jpg" alt="Rounded Image" class="img-rounded img-responsive img-dog">
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                                <h1 class="text-center">About Kitesurf Mag
                                
                                <small class="subtitle">Get to know us</small></h1>
                                <hr>
                                <p>
                                Gnagnagni gnagnagni petit speech pourquoi la fin du mag papier avec une belle photo à gauche des plus beaux mags sinon le reste c'est le text inutil de Creative Tim offers Bootstrap based design elements that speed up your development work. From plugins to complex kits, we have everything you need. 
                                </p>
                                <p>
                                    We love the web and care deeply for how users interact with a digital product. The idea behind Creative Tim was creating a standard of things we actually need and would personally use inside our web projects. We power businesses and individuals to create better looking web projects around the world.
                                </p>
                                <p>
                                We take great interest in how our customers use our resources and offer strong support and unlimited updates. We are constantly thinking about how to make our products intuitive, beautiful and extremely easy to understand, so feel free to tell us your thoughts!                                   
                                </p>

                </div>
            </div>
        </div>
    <!--     end extras -->    
    </div>
<!-- end container -->
</div>
<div class="space-30"></div>
</div>



