<%= render"layouts/navbartest" %>

<body class="index-page sidebar-collapse">
<%if @article.present? %>
  <%if @article.image.attached? %>
    <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url(<%= rails_blob_url(@article.image.first)%>);">
  <% end %>
  <% else %>
  <div class="page-header" id="header" data-parallax="true" style="background-image: url('/assets/image.jpg');"></div>
<% end %>
    <div class="container">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand">
          <h1>Les foils</h1>
            <a class="carousel-control-prev" href="<%= surfboard_index_path %>" role="button" data-slide="prev">
              <i class="fas fa-caret-square-left" style="font-size:50px"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="<%= accessory_index_path %>" role="button" data-slide="next">
	      <i class="fas fa-caret-square-right" style="font-size:50px"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main">

  <nav id="nav_bar">
    <ul class="card d-flex flex-row nav_links d-flex justify-content-center">
            <li class="active nav-item my-1 mx-5">
            <%= link_to foil_index_path(anchor: "intro"), class:" nav-link" do %>
		<div class="d-flex flex-column">
              <i class="text-center text-warning fas fa-comment-dots fa-4x"></i>
		</div>
		<%end%>
            </li>
            <li class="active nav-item my-1 mx-5">
              <%= link_to foil_index_path(anchor: "performance"), class:"nav-link" do %>
		<div class="d-flex flex-column">
                <i class="text-center text-warning fas fa-sliders-h fa-4x"></i>
		</div>
		<%end%>
            </li>
            <li class="nav-item my-1 mx-5">
            <%= link_to foil_index_path(anchor: "foil"), class:" nav-link" do %>
		<div class="d-flex flex-column">
		<i class="text-center text-warning fas fa-compress-arrows-alt fa-4x"></i>
		</div>
		<%end%>
            </li>
            <li class="nav-item my-1 mx-5">
            <%= link_to foil_index_path(anchor: "presentation"), class:" nav-link" do %>
		<div class="d-flex flex-column">
		<i class="text-center text-warning fas fa-users fa-4x"></i>
		</div>
		<%end%>
            </li>  
            <li class="nav-item my-1 mx-5">
            <%= link_to foil_index_path(anchor: "compare"), class:" nav-link" do %>
		<div class="d-flex flex-column">
		<i class="text-center text-warning fas fa-compress-alt fa-4x"></i>
		</div>
		<%end%>
            </li>
    
    </ul>
  </nav>

  <% if @article.present? %> 

    <section id="intro">
    <br><br><br>
      <div class="jumbotron" style="background-image: url(<%= rails_blob_url(@article.image.second)%>); background-size: 100%;">
        <div class="container for-about">
        <h1 class="text-white">Comment sont fait nos tests</h1>
        </div>
      </div>

      <div class="container tim-container m-3">
        <h1 class="m-5"><%= @article.title %></h1>                          
        <h3><small class="subtitle"><%= @article.intro %></small></h3>
          <div class="row">
            <div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
              <div class="text-center">
		<% if @article.image.attached? %>
  	  	  <%= image_tag @article.image.first, alt: 'kite image', class:"card img-rounded img-responsive", style:"width:100%" %>
		<% else %>
          	  <img src="assets/image.jpg" alt="kite image" class="card img-rounded img-responsive" style="width:100%">
		<% end %>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 d-flex align-items-center">
              <p><%= @article.content %></p>
            </div>
	    <div class="d-flex justify-content-center">	
              <div class="bg-light col-sm-10 text-center">
                <p><%= @article.content2 %></p>
              </div>
	    </div>
	    <div class="d-flex justify-content-center">
	      <div class="card-body">	
	    <% if @article.image.attached? %>
  	      <%= image_tag @article.image.second, alt: 'kite image', class:"card img-rounded img-responsive", style:"width:100%" %>
	    <% else %>
              <img src="assets/image.jpg" alt="kite image" class="card img-rounded img-responsive" style="width:100%">
	    <% end %>
	      </div>
	    </div>
          </div>
        </div>
        <div class="container tim-container m-3">
          <div class="d-flex flex-row">
            <div class="card m-3 p-3">
              <h3><small class="subtitle"><%= @article.title3 %></small></h3>
            <div class="col-sm-12">
              <p><%= @article.content3 %></p>
            </div>
          </div>
          <div class="p-3">
	    <% if @article.image.attached? %>
  	      <%= image_tag @article.image.third, alt: 'kite image', class:"card img-rounded img-responsive", style:"width:100%" %>
	    <% else %>
              <img src="assets/image.jpg" alt="kite image" class="card img-rounded img-responsive" style="width:100%">
	    <% end %>
          </div>
        </div>    
    </section>

    <section id="performance">

        <div class="row m-2">
          <div class="card col-sm-6 m-3 p-3" style="width:60%">
		<%= render"layouts/foilcomp" %>
	  </div>
	  <div class="col-sm-5 m-3 p-3">
	    <% if @article.image.attached? %>
  	      <%= image_tag @article.image.fourth, alt: 'kite image', class:"card img-rounded img-responsive", style:"width:100%" %>
	    <% else %>
              <img src="assets/image.jpg" alt="kite image" class="card img-rounded img-responsive" style="width:100%">
	    <% end %>
	  </div>
	</div>

	<div class="card-body bg-light d-flex flex-row">
	  <div class="card m-2">
  	    <div class="card-body">
    	      <h5 class="card-title"><%= @article.title4 %></h5>
    	      <p class="card-text p-2"><%= @article.content4 %></p>
	    </div>
	  </div>
	  <div class="card m-2">
  	    <div class="card-body">
              <h5 class="card-title"><%= @article.title5 %></h5>
              <p class="card-text p-2"><%= @article.content5 %></p>
  	    </div>
	  </div>
	  <div class="card m-2">
  	    <div class="card-body">
              <h5 class="card-title"><%= @article.title6 %></h5>
              <p class="card-text p-2"><%= @article.content6 %></p>
  	    </div>
	  </div>
	  <div class="card m-2">
  	    <div class="card-body">
              <h5 class="card-title"><%= @article.title7 %></h5>
              <p class="card-text p-2"><%= @article.content7 %></p>
  	    </div>
	  </div>
        </div>

  </section>
<% end %>


  <section id="foil">
  <br><br><br>
    <div class="jumbotron" style="background-image: url(/assets/introtest3.jpg); background-size: 100%;">
      <div class="container for-about">
      <h1>kite</h1>
      </div>
    </div>

    <h2 class="ml-2 fas fa-chevron-circle-right"> Foil</h2>
    <div class="row">
      <% @products.each do |t, index| %>
      <% if t.domain === "Freeride" && t.category === "foil" %>
      <div class="card-deck m-3">
        <div class="row mx-3">  
          <div class="card m-3 p-2" style="max-width: 200px;">
            <h3 class="card-title"> <%= t.name %>  </h3>
	      <%= link_to foil_path(t), class:"nav-link" do %>
		<% if t.profil.attached? %>
  		  <%= image_tag t.profil, alt: 'kite picture', class:"rounded img-fluid", style:"width:100%" %>
		<% else %>
		  <img src="assets/image.jpg" class="rounded img-fluid" alt="..." style="width:100%">
		<%end%>
	      <%end%>
            <h4 class="card-title">By <%= t.brand %></h4>
	    <div class="d-flex justify-content-between">		
	      <h4 class="text-left"> <%= t.testsize %> m</h4>
	      <h4 class="text-right"> <%= t.price %>€</h4>
	    </div>
          </div>
        </div>
      </div>
      <%end%>
      <%end%>
    </div>
    <h2 class="ml-2 fas fa-chevron-circle-right"> Wingfoil</h2>
    <div class="row">
      <% @products.each do |t, index| %>
      <% if t.domain === "wingfoil" && t.category === "foil" %>
      <div class="card-deck m-3">
        <div class="row mx-3">  
          <div class="card m-3 p-2" style="max-width: 200px;">
            <h3 class="card-title"> <%= t.name %>  </h3>
	      <%= link_to kite_path(t), class:"nav-link" do %>
		<% if t.profil.attached? %>
  		  <%= image_tag t.profil, alt: 'kite picture', class:"rounded img-fluid", style:"width:100%" %>
		<% else %>
		  <img src="assets/image.jpg" class="rounded img-fluid" alt="..." style="width:100%">
		<%end%>
	      <%end%>
            <h4 class="card-title">By <%= t.brand %></h4>
	    <div class="d-flex justify-content-between">		
	      <h4 class="text-left"> <%= t.testsize %> m</h4>
	      <h4 class="text-right"> <%= t.price %>€</h4>
	    </div>
          </div>
        </div>
      </div>
      <%end%>
      <%end%>
    </div>

  </section>

<section id="presentation">
<% render"layouts/presentation" %>
</section>

  <section id="compare">
  <br><br><br>
  <div class="jumbotron" style="background-image: url(/assets/introtest4.jpg); background-size: 100%;">
    <div class="container for-about">
    <h1>comparer kite</h1>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="m-5 row">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#dashboard-2" role="tab" data-toggle="tab">
            <i class="fas fa-umbrella-beach"></i> Mono latte
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#schedule-2" role="tab" data-toggle="tab">
            <i class="fas fa-water"></i> Wave
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#schedule-3" role="tab" data-toggle="tab">
            <i class="fas fa-snowboarding"></i> Freestyle
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-8">
        <div class="tab-content">
          <div class="tab-pane" id="schedule-3">
                      Ceci est un tableau comparatif des kites testés freeride / freestyle, pour avoir une idée plus précise, merci de bien lire le test de la voile en détail.
          <br>

<table class="table table-striped text-center p-2">
  <thead>
    <tr>
      <th scope="col">kite <i class="fas fa-chevron-circle-right"></i></th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "freestyle" %>

      <th scope="col"><%= t.name %></th>
<%end%>
<%end%>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Compétences<br><i class="fas fa-chevron-circle-down"></i></th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "freestyle" %>
      <td><%= link_to kite_path(t), class:"nav-link" do %>
		<% if t.profil.attached? %>
  		  <%= image_tag t.profil, alt: 'kite picture', class:"img-raised rounded img-fluid", style:"width:100px" %>
		<% else %>
		<img src="assets/image.jpg" class="img-raised rounded img-fluid" alt="..." style="width:100px">
		<%end%>
		<%end%>
	</td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Marque</th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "freestyle" %>
      <td><%= t.brand %></td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">taille testé</th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "freestyle" %>
      <td><%= t.testsize %>m</td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Wave</th>
<% @technics.each do |t, index| %>
<% if t.wave != nil && @products.find(t.product_id).category === "kite"  && @products.find(t.product_id).domain === "freestyle" %>
      <td><% while @wave < t.wave %>
	    <i class="fas fa-star"></i>
	    <% @wave = @wave + 1 %>
	  <%end%>
	  <% @wave = 0 %>
      </td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Freeride</th>
<% @technics.each do |t, index| %>
<% if t.freeride != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "freestyle" %>
      <td><% while @freeride < t.freeride %>
	    <i class="fas fa-star"></i>
	    <% @freeride = @freeride + 1 %>
	  <%end%>
	  <% @freeride = 0 %>
      </td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Freestyle</th>
<% @technics.each do |t, index| %>
<% if t.freestyle != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "freestyle" %>
      <td><% while @freestyle < t.freestyle %>
	    <i class="fas fa-star"></i>
	    <% @freestyle = @freestyle + 1 %>
	  <%end%>
	  <% @freestyle = 0 %>
      </td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Maniability</th>
<% @technics.each do |t, index| %>
<% if t.maniability != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "freestyle" %>
      <td><% while @maniability < t.maniability %>
	    <i class="fas fa-star"></i>
	    <% @maniability = @maniability + 1 %>
	  <%end%>
	  <% @maniability = 0 %>
      </td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Feeling</th>
<% @technics.each do |t, index| %>
<% if t.feeling != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "freestyle" %>
      <td><% while @feeling < t.feeling %>
	    <i class="fas fa-star"></i>
	    <% @feeling = @feeling + 1 %>
	  <%end%>
	  <% @feeling = 0 %>
      </td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Tailles disponibles</th>
<% @options.each do |t, index| %>
<% if t.range != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "freestyle" %>
      <td><%= t.range %></td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Bridage</th>
<% @options.each do |t, index| %>
<% if t.bridle != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "freestyle" %>
      <td><%= t.bridle %></td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Prix</th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "freestyle" %>
      <td><%= t.price %> €</td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row"></th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "freestyle" %>
      <td><a href="<%= kite_path(t) %>" class="scrollup btn btn-success">Détails</a>
</td>
<%end%>
<%end%>
    </tr>

  </tbody>
</table>

                    </div>

                   <div class="tab-pane" id="schedule-2">
                      Ceci est un tableau comparatif des kites testés vague, pour avoir une idée plus précise, merci de bien lire le test de la voile en détail.                      <br>
<table class="table table-striped text-center p-2">
  <thead>
    <tr>
      <th scope="col">kite <i class="fas fa-chevron-circle-right"></i></th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "wave" %>

      <th scope="col"><%= t.name %></th>
<%end%>
<%end%>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Compétences<br><i class="fas fa-chevron-circle-down"></i></th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "wave" %>
      <td><%= link_to kite_path(t), class:"nav-link" do %>
		<% if t.profil.attached? %>
  		  <%= image_tag t.profil, alt: 'kite picture', class:"img-raised rounded img-fluid", style:"width:100px" %>
		<% else %>
		<img src="assets/image.jpg" class="img-raised rounded img-fluid" alt="..." style="width:100px">
		<%end%>
		<%end%>
	</td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Marque</th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "wave" %>
      <td><%= t.brand %></td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">taille testé</th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "wave" %>
      <td><%= t.testsize %>m</td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Wave</th>
<% @technics.each do |t, index| %>
<% if t.wave != nil && @products.find(t.product_id).category === "kite"  && @products.find(t.product_id).domain === "wave" %>
      <td><% while @wave < t.wave %>
	    <i class="fas fa-star"></i>
	    <% @wave = @wave + 1 %>
	  <%end%>
	  <% @wave = 0 %>
      </td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Freeride</th>
<% @technics.each do |t, index| %>
<% if t.freeride != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "wave" %>
      <td><% while @freeride < t.freeride %>
	    <i class="fas fa-star"></i>
	    <% @freeride = @freeride + 1 %>
	  <%end%>
	  <% @freeride = 0 %>
      </td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Freestyle</th>
<% @technics.each do |t, index| %>
<% if t.freestyle != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "wave" %>
      <td><% while @freestyle < t.freestyle %>
	    <i class="fas fa-star"></i>
	    <% @freestyle = @freestyle + 1 %>
	  <%end%>
	  <% @freestyle = 0 %>
      </td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Maniability</th>
<% @technics.each do |t, index| %>
<% if t.maniability != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "wave" %>
      <td><% while @maniability < t.maniability %>
	    <i class="fas fa-star"></i>
	    <% @maniability = @maniability + 1 %>
	  <%end%>
	  <% @maniability = 0 %>
      </td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Feeling</th>
<% @technics.each do |t, index| %>
<% if t.feeling != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "wave" %>
      <td><% while @feeling < t.feeling %>
	    <i class="fas fa-star"></i>
	    <% @feeling = @feeling + 1 %>
	  <%end%>
	  <% @feeling = 0 %>
      </td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Tailles disponibles</th>
<% @options.each do |t, index| %>
<% if t.range != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "wave" %>
      <td><%= t.range %></td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Bridage</th>
<% @options.each do |t, index| %>
<% if t.bridle != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "wave" %>
      <td><%= t.bridle %></td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Prix</th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "wave" %>
      <td><%= t.price %> €</td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row"></th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "wave" %>
      <td><a href="<%= kite_path(t) %>" class="scrollup btn btn-success">Détails</a>
</td>
<%end%>
<%end%>
    </tr>

  </tbody>
</table>
</div>
                   <div class="tab-pane active" id="dashboard-2">
                      Ceci est un tableau comparatif des kites testés mono latte, pour avoir une idée plus précise, merci de bien lire le test de la voile en détail.                      <br>
<table class="table table-striped text-center p-2">
  <thead>
    <tr>
      <th scope="col">kite <i class="fas fa-chevron-circle-right"></i></th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "foil" %>

      <th scope="col"><%= t.name %></th>
<%end%>
<%end%>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Compétences<br><i class="fas fa-chevron-circle-down"></i></th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "foil" %>
      <td><%= link_to kite_path(t), class:"nav-link" do %>
		<% if t.profil.attached? %>
  		  <%= image_tag t.profil, alt: 'kite picture', class:"img-raised rounded img-fluid", style:"width:100px" %>
		<% else %>
		<img src="assets/image.jpg" class="img-raised rounded img-fluid" alt="..." style="width:100px">
		<%end%>
		<%end%>
	</td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Marque</th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "foil" %>
      <td><%= t.brand %></td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">taille testé</th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "foil" %>
      <td><%= t.testsize %>m</td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Wave</th>
<% @technics.each do |t, index| %>
<% if t.wave != nil && @products.find(t.product_id).category === "kite"  && @products.find(t.product_id).domain === "foil" %>
      <td><% while @wave < t.wave %>
	    <i class="fas fa-star"></i>
	    <% @wave = @wave + 1 %>
	  <%end%>
	  <% @wave = 0 %>
      </td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Freeride</th>
<% @technics.each do |t, index| %>
<% if t.freeride != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "foil" %>
      <td><% while @freeride < t.freeride %>
	    <i class="fas fa-star"></i>
	    <% @freeride = @freeride + 1 %>
	  <%end%>
	  <% @freeride = 0 %>
      </td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Freestyle</th>
<% @technics.each do |t, index| %>
<% if t.freestyle != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "foil" %>
      <td><% while @freestyle < t.freestyle %>
	    <i class="fas fa-star"></i>
	    <% @freestyle = @freestyle + 1 %>
	  <%end%>
	  <% @freestyle = 0 %>
      </td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Maniability</th>
<% @technics.each do |t, index| %>
<% if t.maniability != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "foil" %>
      <td><% while @maniability < t.maniability %>
	    <i class="fas fa-star"></i>
	    <% @maniability = @maniability + 1 %>
	  <%end%>
	  <% @maniability = 0 %>
      </td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Feeling</th>
<% @technics.each do |t, index| %>
<% if t.feeling != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "foil" %>
      <td><% while @feeling < t.feeling %>
	    <i class="fas fa-star"></i>
	    <% @feeling = @feeling + 1 %>
	  <%end%>
	  <% @feeling = 0 %>
      </td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Tailles disponibles</th>
<% @options.each do |t, index| %>
<% if t.range != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "foil" %>
      <td><%= t.range %></td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Bridage</th>
<% @options.each do |t, index| %>
<% if t.bridle != nil && @products.find(t.product_id).category === "kite" && @products.find(t.product_id).domain === "foil" %>
      <td><%= t.bridle %></td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row">Prix </th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "foil" %>
      <td><%= t.price %> € (<%= t.testsize %>m)</td>
<%end%>
<%end%>
    </tr>
    <tr>
      <th scope="row"></th>
<% @products.each do |t, index| %>
<% if t.category === "kite" && t.domain === "foil" %>
      <td><a href="<%= kite_path(t) %>" class="scrollup btn btn-success">Détails</a>
</td>
<%end%>
<%end%>
    </tr>

  </tbody>
</table>

              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

<br>
<br>
<br>
    <%= yield %>
</div>
  </body>
</html>
