<%= render"layouts/navbar" %>
<body class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/testaccessory/pads3.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar d-flex justify-content-center">
		<%if @user.avatar.attached?%>
  		  <%= image_tag @user.avatar, alt: 'avatar', class:"img-raised rounded-circle img-fluid", style:"width:20%" %>
		<%else%>
                  <img src="/assets/lego surfer2.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid" style="width:20%">
		<%end%>
              </div>
              <div class="name mt-1">
                <h3 class="title"><%= @user.first_name %> <%= @user.last_name %></h3>
                <h6>Kitesurfer</h6>
                <h6><%= @user.email %></h6>
          	<%=link_to "Modifier mon Profil", edit_user_registration_path, class:"btn btn-sm btn-info" %>
              </div>
            </div>
          </div>
        </div>
<section id="compare">
	<%= render"layouts/flash" %>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                    <i class="material-icons">camera</i> Kite
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                    <i class="material-icons">palette</i> Twin-tip
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                    <i class="material-icons">favorite</i> Surfboard
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content tab-space">
          <div class="tab-pane active text-center gallery" id="studio">
            <div class="row">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">kite <i class="fas fa-chevron-circle-right"></i></th>
	<% @compares.each do |t, index| %>
	<% if t.user_id === @user.id && @products.find(t.product_id).category === "kite" %>
          <th scope="col"><%= @products.find(t.product_id).name %></th>
	<% end %>
	<% end %>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">Compétences<br><i class="fas fa-chevron-circle-down"></i></th>
	<% @compares.each do |t, index| %>
	<% if t.user_id === @user.id && @products.find(t.product_id).category === "kite" %>
      <td> <%= link_to kite_path(t.product_id), class:"nav-link" do %>
	   <% if @products.find(t.product_id).picture.attached? %>
	     <%= image_tag @products.find(t.product_id).picture.first, alt: 'kite picture', class:"img-raised rounded img-fluid", style:"width:250px" %>
	   <% else %>
	     <img src="/assets/image.jpg" class="img-raised rounded img-fluid" alt="kite picture" style="width:250px">
	   <% end %>
	  <%end%>
      </td>
	<% end %>
	<% end %>
    </tr>

    <tr>
      <th scope="row">Taille testé</th>
	<% @compares.each do |t, index| %>
	<% if t.user_id === @user.id && @products.find(t.product_id).category === "kite" %>
      <td><%= @products.find(t.product_id).testsize %>m</td>
	<%end%>
	<%end%>
    </tr>
    <tr>
      <th scope="row">Wave</th>
	<% @compares.each do |t, index| %>
	<% if t.user_id === @user.id && @products.find(t.product_id).category === "kite" %>
      <td><% while @wave < @technics.find(@products.find(t.product_id).technic_id).wave %>
	    <i class="fas fa-star"></i>
	    <% @wave = @wave + 1 %>
	  <%end%>
	  <% @wave = 0 %>
      </td>
	<%end%>
	<%end%>
    </tr>
    <tr>
      <th scope="row">Big Air</th>
	<% @compares.each do |t, index| %>
	<% if t.user_id === @user.id && @products.find(t.product_id).category === "kite" %>
      <td><% while @bigair < @technics.find(@products.find(t.product_id).technic_id).bigair %>
	    <i class="fas fa-star"></i>
	    <% @bigair = @bigair + 1 %>
	  <%end%>
	  <% @bigair = 0 %>
      </td>
	<%end%>
	<%end%>
    </tr>
    <tr>
      <th scope="row">Freeride</th>
	<% @compares.each do |t, index| %>
	<% if t.user_id === @user.id && @products.find(t.product_id).category === "kite" %>
      <td><% while @freeride < @technics.find(@products.find(t.product_id).technic_id).freeride %>
	    <i class="fas fa-star"></i>
	    <% @freeride = @freeride + 1 %>
	  <%end%>
	  <% @freeride = 0 %>
      </td>
	<%end%>
	<%end%>
    </tr>

    <tr>
      <th scope="row"></th>
	<% @compares.each do |t, index| %>
	<% if t.user_id === @user.id && @products.find(t.product_id).category === "kite" %>
      <td><%= link_to "Supprimer", kite_path(t.id), class:"btn-sm btn-danger", method: :delete %></td>
	<%end%>
	<%end%>
    </tr>
  </tbody>
</table>
            </div>
          </div>

          <div class="tab-pane text-center gallery" id="works">
            <div class="row">
              <div class="col-md-3 ml-auto">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">kite <i class="fas fa-chevron-circle-right"></i></th>
	<% @compares.each do |t, index| %>
	<% if t.user_id === @user.id %>
          <th scope="col"><%= @products.find(t.product_id).name %></th>
	<% end %>
	<% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Taille testé</th>
	<% @compares.each do |t, index| %>
	<% if t.user_id === @user.id && @products.find(t.product_id).category != "kite" %>
      <td><%= @products.find(t.product_id).testsize %>m</td>
	<%end%>
	<%end%>
    </tr>

  </tbody>
</table>

              </div>
              <div class="col-md-3 mr-auto">
                <img src="/assets/examples/mariya-georgieva.jpg" class="rounded">
                <img src="/assets/examples/clem-onojegaw.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="favorite">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="/assets/examples/mariya-georgieva.jpg" class="rounded">
                <img src="/assets/examples/studio-3.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="/assets/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="/assets/examples/olu-eletu.jpg" class="rounded">
                <img src="/assets/examples/studio-1.jpg" class="rounded">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>

</html>
