<%= render"layouts/navbar" %>
<body class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/testaccessory/pads3.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar d-flex justify-content-center">
		<%if @user.avatar.attached?%>
  		  <%= image_tag @user.avatar, alt: 'avatar', class:"img-raised rounded-circle img-fluid", style:"width:20%" %>
		<%else%>
                  <img src="/assets/lego surfer2.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid" style="width:20%">
		<%end%>
              </div>
              <div class="name mt-1">
                <h3 class="title"><%= @user.first_name %> <%= @user.last_name %></h3>
                <h6>Kitesurfer</h6>
                <h6><%= @user.email %></h6>
          	<%=link_to "Modifier mon Profil", edit_user_registration_path, class:"btn btn-sm btn-info" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                    <i class="material-icons">camera</i> Kite
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                    <i class="material-icons">palette</i> Twin-tip
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                    <i class="material-icons">favorite</i> Surfboard
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content tab-space">
          <div class="tab-pane active text-center gallery" id="studio">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="/assets/examples/studio-1.jpg" class="rounded">
                <img src="/assets/examples/studio-2.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="/assets/examples/studio-5.jpg" class="rounded">
                <img src="/assets/examples/studio-4.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="works">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="/assets/examples/olu-eletu.jpg" class="rounded">
                <img src="/assets/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="/assets/examples/cynthia-del-rio.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="/assets/examples/mariya-georgieva.jpg" class="rounded">
                <img src="/assets/examples/clem-onojegaw.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="favorite">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="/assets/examples/mariya-georgieva.jpg" class="rounded">
                <img src="/assets/examples/studio-3.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="/assets/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="/assets/examples/olu-eletu.jpg" class="rounded">
                <img src="/assets/examples/studio-1.jpg" class="rounded">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
