<%= render"layouts/navbar" %>
<body class="profile-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/testaccessory/pads3.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar d-flex justify-content-center">
		<%if @user.avatar.attached?%>
  		  <%= image_tag @user.avatar, alt: 'avatar', class:"img-raised rounded-circle img-fluid", style:"width:20%" %>
		<%else%>
                  <img src="/assets/lego surfer2.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid" style="width:20%">
		<%end%>
              </div>
              <div class="name mt-1">
                <h3 class="title col-md-4"><%= @user.first_name %> <%= @user.last_name %></h3>
                <h6><%= @user.function %></h6>
                <h6><%= @user.email %></h6>
                <h6><%= @user.description %></h6>
          	<%=link_to "Modifier mon Profil", edit_user_registration_path, class:"btn btn-sm btn-info" %>
              </div>
            </div>
          </div>
        </div>
                <h3 class="col-md-4">Mes favoris</h3>
        <div class="row d-flex justify-content-center">
	  <% if @compare.size < 1 %>
	    <p> Tu n'as pas encore de produits favoris </p>
	    <% @compare.each do |t, index| %>
	    <%= t.user_id %>
	    <%= @compare %>
	    <% end %>
	  <% else %>
	  <% @compare.each do |t, index| %>
	    <div style="width: 10rem;">
	      <% if @products.find(t.product_id).category === "kite" %>
	        <%= link_to kite_path(t.product_id), class:"nav-link" do %>
	   	  <% if @products.find(t.product_id).profil.attached? %>
	            <%= image_tag @products.find(t.product_id).profil, alt: 'kite picture', class:"img-raised rounded img-fluid", style:"width:100%" %>
	   	  <% else %>
	     	    <img src="/assets/image.jpg" class="img-raised rounded img-fluid" alt="kite picture" style="width:100%">
	   	  <% end %>
	   	<% end %>
	      <% elsif @products.find(t.product_id).category === "board" %>
	        <%= link_to board_path(t.product_id), class:"nav-link" do %>
	   	  <% if @products.find(t.product_id).profil.attached? %>
	            <%= image_tag @products.find(t.product_id).profil, alt: 'board picture', class:"img-raised rounded img-fluid", style:"width:100%" %>
	   	  <% else %>
	     	    <img src="/assets/image.jpg" class="img-raised rounded img-fluid" alt="kite picture" style="width:100%">
	   	  <% end %>
	   	<% end %>
	      <% elsif @products.find(t.product_id).category === "surfboard" %>
	        <%= link_to surfboard_path(t.product_id), class:"nav-link" do %>
	   	  <% if @products.find(t.product_id).profil.attached? %>
	            <%= image_tag @products.find(t.product_id).profil, alt: 'surfboard picture', class:"img-raised rounded img-fluid", style:"width:100%" %>
	   	  <% else %>
	     	    <img src="/assets/image.jpg" class="img-raised rounded img-fluid" alt="kite picture" style="width:100%">
	   	  <% end %>
	   	<% end %>
	      <% elsif @products.find(t.product_id).category === "foil" %>
	        <%= link_to foil_path(t.product_id), class:"nav-link" do %>
	   	  <% if @products.find(t.product_id).profil.attached? %>
	            <%= image_tag @products.find(t.product_id).profil, alt: 'foil picture', class:"img-raised rounded img-fluid", style:"width:100%" %>
	   	  <% else %>
	     	    <img src="/assets/image.jpg" class="img-raised rounded img-fluid" alt="kite picture" style="width:100%">
	   	  <% end %>
	   	<% end %>
	      <% elsif @products.find(t.product_id).category === "accessory" %>
	        <%= link_to accessory_path(t.product_id), class:"nav-link" do %>
	   	  <% if @products.find(t.product_id).picture.attached? %>
	            <%= image_tag @products.find(t.product_id).profil, alt: 'accessory picture', class:"img-raised rounded img-fluid", style:"width:100%" %>
	   	  <% else %>
	     	    <img src="/assets/image.jpg" class="img-raised rounded img-fluid" alt="kite picture" style="width:100%">
	   	  <% end %>
	   	<% end %>
	      <%end%>
    	      <h3 class="card-text text-center"><%= @products.find(t.product_id).name %></h3>
	    </div>
	  <% end %>
	  <% end %>
	</div>

<section id="compare">
        <div class="row mt-3 d-flex justify-content-center">
          <div class="col-md-10" >
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#kite" role="tab" data-toggle="tab">
                    <i class="material-icons">camera</i> Kite
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#board" role="tab" data-toggle="tab">
                    <i class="material-icons">palette</i> Twin-tip
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#surfboard" role="tab" data-toggle="tab">
                    <i class="material-icons">favorite</i> Surfboard
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#foil" role="tab" data-toggle="tab">
                    <i class="material-icons">favorite</i> Foil
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#accessory" role="tab" data-toggle="tab">
                    <i class="material-icons">favorite</i> Accessoires
                  </a>
                </li>
              </ul>
          </div>
        </div>
        <div class="tab-content tab-space">
<h6><i class="text-warning fas fa-exclamation-triangle fa-2x"></i> Attention à bien comparer les modèles de la même année</h6>
          <div class="tab-pane active text-center gallery" id="kite">
            <div class="row">
	      <table class="table table-striped">
  		<thead>
    		  <tr>
      		    <th scope="col">kite <i class="fas fa-chevron-circle-right"></i></th>
		    <% @compare.each do |t, index| %>
		      <% if @products.find(t.product_id).category === "kite" %>
			<% if @products.find(t.product_id).name.present? %>
          		  <th scope="col"><%= @products.find(t.product_id).name %></th>
			<% else @products.find(t.product_id).name === nil %>
          		  <th scope="col">Vide ou</th>
			<% end %>
		      <% end %>
		    <% end %>
    		  </tr>
  		</thead>
  	      <tbody>
	        <tr>
      		  <th scope="row">Millésime</th>
		  <% @compare.each do |t, index| %>
		    <% if @products.find(t.product_id).category === "kite" %>
      		      <td><% if @products.find(t.product_id).year != 2020 %>
			  <%= @products.find(t.product_id).year %> <i class="text-warning fas fa-exclamation-triangle"></i>
			<% else %>
			  <%= @products.find(t.product_id).year %>
			<% end %>
		      </td>
		    <%end%>
		  <%end%>
    		</tr>
	        <tr>
      		  <th scope="row">Compétences<br><i class="fas fa-chevron-circle-down"></i></th>
		  <% @compare.each do |t, index| %>
		    <% if @products.find(t.product_id).category === "kite" %>
      		      <td><%= link_to kite_path(t.product_id), class:"nav-link" do %>
	   	        <% if @products.find(t.product_id).profil.attached? %>
	     		  <%= image_tag @products.find(t.product_id).profil, alt: 'kite picture', class:"img-raised rounded img-fluid", style:"width:250px" %>
	   		<% else %>
	     		  <img src="/assets/image.jpg" class="img-raised rounded img-fluid" alt="kite picture" style="width:250px">
	   		<% end %>
	  	      <%end%></td>
		    <% end %>
		  <% end %>
    		</tr>
	        <tr>
      		  <th scope="row">Taille testé</th>
		  <% @compare.each do |t, index| %>
		    <% if @products.find(t.product_id).category === "kite" %>
      		      <td><%= @products.find(t.product_id).testsize %>m</td>
		    <%end%>
		  <%end%>
    		</tr>
    		<tr>
      		  <th scope="row" class="text-primary">Waveriding ou Drift</th>
		    <% @compare.each do |t, index| %>
		      <% if @products.find(t.product_id).category === "kite" %>
		        <td><% while @variable < @technics.find(@products.find(t.product_id).technic_id).wave %>
	    		    <i class="text-primary fas fa-square"></i>
	    		    <% @variable = @variable + 1 %>
	  		  <%end%>
	  		  <% while @variable < 5 %>
	    		    <i class="text-light fas fa-square"></i>
	    		    <% @variable = @variable + 1 %>
	  		  <% end %>
	  		    <% @variable = 0 %></td>
		      <%end%>
		    <%end%>
    		  </tr>
    		  <tr>
      		    <th scope="row" class="text-success">Big Air ou Side-Shore</th>
		      <% @compare.each do |t, index| %>
			<% if @products.find(t.product_id).category === "kite" %>
      		          <td><% while @variable < @technics.find(@products.find(t.product_id).technic_id).bigair %>
	    		    <i class="text-success fas fa-square"></i>
	    		    <% @variable = @variable + 1 %>
	  		  <%end%>
	  		  <% while @variable < 5 %>
	    		    <i class="text-light fas fa-square"></i>
	    		    <% @variable = @variable + 1 %>
	  		  <% end %>
	  		    <% @variable = 0 %></td>
			<%end%>
		      <%end%>
    		    </tr>
    		    <tr>
      		      <th scope="row" class="text-warning">Freestyle ou On-Shore</th>
			<% @compare.each do |t, index| %>
			  <% if @products.find(t.product_id).category === "kite" %>
      			    <td><% while @variable < @technics.find(@products.find(t.product_id).technic_id).freestyle %>
	    		    <i class="text-warning fas fa-square"></i>
	    		    <% @variable = @variable + 1 %>
	  		  <%end%>
	  		  <% while @variable < 5 %>
	    		    <i class="text-light fas fa-square"></i>
	    		    <% @variable = @variable + 1 %>
	  		  <% end %>
	  		    <% @variable = 0 %></td>
			  <%end%>
			<%end%>
    		      </tr>
    		      <tr>
		        <th scope="row" class="text-info">Freeride</th>
			<% @compare.each do |t, index| %>
			  <% if @products.find(t.product_id).category === "kite" %>
      			    <td><% while @variable < @technics.find(@products.find(t.product_id).technic_id).freeride %>
	    		    <i class="text-info fas fa-square"></i>
	    		    <% @variable = @variable + 1 %>
	  		  <%end%>
	  		  <% while @variable < 5 %>
	    		    <i class="text-light fas fa-square"></i>
	    		    <% @variable = @variable + 1 %>
	  		  <% end %>
	  		    <% @variable = 0 %></td>
			  <%end%>
			<%end%>
    		      </tr>
    		      <tr>
		        <th scope="row" class="text-danger">Réactivité</th>
			<% @compare.each do |t, index| %>
			  <% if @products.find(t.product_id).category === "kite" %>
            		    <td>
              		      <div class="d-flex justify-content-between">
                		<p>Maniable</p>
          			<p>Vive</p>
              		      </div>
              		      <div class="progress" style="height: 20px;">
                		<div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= @technics.find(@products.find(t.product_id).technic_id).maniability*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              		      </div>
      	    		    </td>
			  <%end%>
			<%end%>
    		      </tr>
    		      <tr>
		        <th scope="row" class="text-dark">Feeling en barre</th>
			<% @compare.each do |t, index| %>
			  <% if @products.find(t.product_id).category === "kite" %>
            		    <td>
              		      <div class="d-flex justify-content-between">
                		<p>Légère</p>
          			<p>Présente</p>
              		      </div>
              		      <div class="progress" style="height: 20px;">
                		<div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= @technics.find(@products.find(t.product_id).technic_id).feeling*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              		      </div>
      	    		    </td>

			<%end%>
		      <%end%>
    		    </tr>
	        <tr>
      		  <th scope="row">Prix</th>
		  <% @compare.each do |t, index| %>
		    <% if @products.find(t.product_id).category === "kite" %>
      		      <td><%= @products.find(t.product_id).price %>€</td>
		    <%end%>
		  <%end%>
    		</tr>
		    <tr>
      		      <th scope="row"></th>
			<% @compare.each do |t, index| %>
			  <% if @products.find(t.product_id).category === "kite" %>
      			    <td><%= link_to "Supprimer", kite_path(t.id), class:"btn-sm btn-danger", method: :delete %></td>
			  <%end%>
			<%end%>
    		      </tr>
  		    </tbody>
		  </table>
            	</div>
              </div>

              <div class="tab-pane text-center gallery" id="board">
                <div class="row">
	      <table class="table table-striped">
  		<thead>
    		  <tr>
      		    <th scope="col">Twin-Tip <i class="fas fa-chevron-circle-right"></i></th>
		    <% @compare.each do |t, index| %>
		      <% if @products.find(t.product_id).category === "board" %>
			<% if @products.find(t.product_id).name.present? %>
          		  <th scope="col"><%= @products.find(t.product_id).name %></th>
			<% else @products.find(t.product_id).name === nil %>
          		  <th scope="col">Vide ou</th>
			<% end %>
		      <% end %>
		    <% end %>
    		  </tr>
  		</thead>
  	      <tbody>
	        <tr>
      		  <th scope="row">Millésime</th>
		  <% @compare.each do |t, index| %>
		    <% if @products.find(t.product_id).category === "board" %>
      		      <td><% if @products.find(t.product_id).year != 2020 %>
			  <%= @products.find(t.product_id).year %> <i class="text-warning fas fa-exclamation-triangle"></i>
			<% else %>
			  <%= @products.find(t.product_id).year %>
			<% end %>
		      </td>
		    <%end%>
		  <%end%>
    		</tr>
	        <tr>
      		  <th scope="row">Compétences<br><i class="fas fa-chevron-circle-down"></i></th>
		  <% @compare.each do |t, index| %>
		    <% if @products.find(t.product_id).category === "board" %>
      		      <td><%= link_to board_path(t.product_id) do %>
	   	        <% if @products.find(t.product_id).picture.attached? %>
	     		  <%= image_tag @products.find(t.product_id).profil, alt: 'kite picture', class:"img-raised rounded img-fluid", style:"width:250px" %>
	   		<% else %>
	     		  <img src="/assets/image.jpg" class="img-raised rounded img-fluid" alt="kite picture" style="width:250px">
	   		<% end %>
	  	      <%end%></td>
		    <% end %>
		  <% end %>
    		</tr>
	        <tr>
      		  <th scope="row">Taille testé</th>
		  <% @compare.each do |t, index| %>
		    <% if @products.find(t.product_id).category === "board" %>
      		      <td><%= @products.find(t.product_id).testsize %>m</td>
		    <%end%>
		  <%end%>
    		</tr>
    		<tr>
      		  <th scope="row">Contrôle</th>
		    <% @compare.each do |t, index| %>
		      <% if @products.find(t.product_id).category === "board" %>
        		<td>
          		<div class="d-flex justify-content-between">
            		<p>Slashy</p>
            		<p>Rail</p>
          		</div>
          		<div class="progress" style="height: 20px;">
            		<div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= @technics.find(@products.find(t.product_id).technic_id).control*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          		</div>
        		</td>
		      <%end%>
		    <%end%>
    		  </tr>
    		      <tr>
		        <th scope="row" class="text-danger">Maniabilité</th>
			<% @compare.each do |t, index| %>
			  <% if @products.find(t.product_id).category === "board" %>
            		    <td>
              		      <div class="d-flex justify-content-between">
                		<p>Maniable</p>
          			<p>Joueur</p>
              		      </div>
              		      <div class="progress" style="height: 20px;">
                		<div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= @technics.find(@products.find(t.product_id).technic_id).maniability*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              		      </div>
      	    		    </td>
			  <%end%>
			<%end%>
    		      </tr>
    		  <tr>
      		    <th scope="row" class="text-success">Progression</th>
		      <% @compare.each do |t, index| %>
			<% if @products.find(t.product_id).category === "board" %>
      		          <td><% while @variable < @technics.find(@products.find(t.product_id).technic_id).progression %>
	    		    <i class="text-success fas fa-square"></i>
	    		    <% @variable = @variable + 1 %>
	  		  <%end%>
	  		  <% while @variable < 4 %>
	    		    <i class="text-light fas fa-square"></i>
	    		    <% @variable = @variable + 1 %>
	  		  <% end %>
	  		    <% @variable = 0 %></td>
			<%end%>
		      <%end%>
    		    </tr>
    		    <tr>
      		      <th scope="row" class="text-info">Freeride Freestyle</th>
			<% @compare.each do |t, index| %>
			  <% if @products.find(t.product_id).category === "board" %>
      			    <td><% while @variable < @technics.find(@products.find(t.product_id).technic_id).freeride %>
	    		    <i class="text-info fas fa-square"></i>
	    		    <% @variable = @variable + 1 %>
	  		  <%end%>
	  		  <% while @variable < 4 %>
	    		    <i class="text-light fas fa-square"></i>
	    		    <% @variable = @variable + 1 %>
	  		  <% end %>
	  		    <% @variable = 0 %></td>
			  <%end%>
			<%end%>
    		      </tr>
    		      <tr>
		        <th scope="row" class="text-warning">New-School</th>
			<% @compare.each do |t, index| %>
			  <% if @products.find(t.product_id).category === "board" %>
      			    <td><% while @variable < @technics.find(@products.find(t.product_id).technic_id).freestyle %>
	    		    <i class="text-warning fas fa-square"></i>
	    		    <% @variable = @variable + 1 %>
	  		  <%end%>
	  		  <% while @variable < 4 %>
	    		    <i class="text-light fas fa-square"></i>
	    		    <% @variable = @variable + 1 %>
	  		  <% end %>
	  		    <% @variable = 0 %></td>
			  <%end%>
			<%end%>
    		      </tr>
	        <tr>
      		  <th scope="row">Prix</th>
		  <% @compare.each do |t, index| %>
		    <% if @products.find(t.product_id).category === "board" %>
      		      <td><%= @products.find(t.product_id).price %>€</td>
		    <%end%>
		  <%end%>
    		</tr>
  		      <tr>
      		        <th scope="row"></th>
			  <% @compare.each do |t, index| %>
			    <% if @products.find(t.product_id).category === "board" %>
      			      <td><%= link_to "Supprimer", kite_path(t.id), class:"btn-sm btn-danger", method: :delete %></td>
			    <%end%>
			  <%end%>
    		        </tr>
  		      </tbody>
		    </table>
            	  </div>
                </div>

          <div class="tab-pane text-center gallery" id="surfboard">
            <div class="row">
	      <table class="table table-striped">
  		<thead>
    		  <tr>
      		    <th scope="col">Surf <i class="fas fa-chevron-circle-right"></i></th>
		    <% @compare.each do |t, index| %>
		      <% if @products.find(t.product_id).category === "surfboard" %>
			<% if @products.find(t.product_id).name.present? %>
          		  <th scope="col"><%= @products.find(t.product_id).name %></th>
			<% else @products.find(t.product_id).name === nil %>
          		  <th scope="col">Vide ou</th>
			<% end %>
		      <% end %>
		    <% end %>
    		  </tr>
  		</thead>
  	      <tbody>
	        <tr>
      		  <th scope="row">Compétences<br><i class="fas fa-chevron-circle-down"></i></th>
		  <% @compare.each do |t, index| %>
		    <% if @products.find(t.product_id).category === "surfboard" %>
      		      <td><%= link_to surfboard_path(t.product_id) do %>
	   	        <% if @products.find(t.product_id).picture.attached? %>
	     		  <%= image_tag @products.find(t.product_id).profil, alt: 'kite picture', class:"img-raised rounded img-fluid", style:"width:250px" %>
	   		<% else %>
	     		  <img src="/assets/image.jpg" class="img-raised rounded img-fluid" alt="kite picture" style="width:250px">
	   		<% end %>
	  	      <%end%></td>
		    <% end %>
		  <% end %>
    		</tr>
	        <tr>
      		  <th scope="row">Taille testé</th>
		  <% @compare.each do |t, index| %>
		    <% if @products.find(t.product_id).category === "surfboard" %>
      		      <td><%= @products.find(t.product_id).testsize %>m</td>
		    <%end%>
		  <%end%>
    		</tr>
    		<tr>
      		<th scope="row" class="text-success">Courbes</th>
      		<% @compare.each do |t, index| %>
		      <% if @products.find(t.product_id).category === "surfboard" %>
        		<td>
          		<div class="d-flex justify-content-between">
            		<p>Sérrés</p>
            		<p>Longues</p>
          		</div>
          		<div class="progress" style="height: 20px;">
            		<div class="progress-bar bg-success" role="progressbar" style="width: <%= @technics.find(@products.find(t.product_id).technic_id).courbes*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          		</div>
        		</td>
      		<% end %>
      		<% end %>
    		</tr>
	    	<tr>
      		<th scope="row" class="text-info">Wind</th>
      		<% @compare.each do |t, index| %>
			<% if @products.find(t.product_id).category === "surfboard" %>
        	<td>
          	<div class="d-flex justify-content-between">
          	  <p>Light</p>
          	  <p>Strong</p>
          	</div>
          	<div class="progress" style="height: 20px;">
            	<div class="progress-bar bg-info" role="progressbar" style="width: <%= @technics.find(@products.find(t.product_id).technic_id).wind*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          	</div>
        	</td>
      		<% end %>
      		<% end %>
    		</tr>
		<tr>
      		<th scope="row" class="text-primary">Transitions</th>
	        <% @compare.each do |t, index| %>
		  <% if @products.find(t.product_id).category === "surfboard" %>
	        <td>
	          <div class="d-flex justify-content-between">
	            <p>Faciles</p>
	            <p>Techniques</p>
	          </div>
	          <div class="progress" style="height: 20px;">
	            <div class="progress-bar bg-primary" role="progressbar" style="width: <%=  @technics.find(@products.find(t.product_id).technic_id).transitions*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        	  </div>
        	</td>
      		<% end %>
      		<% end %>
    		</tr>
    		<tr>
      		<th scope="row" class="text-rose">Tendance</th>
      		<% @compare.each do |t, index| %>
		  <% if @products.find(t.product_id).category === "surfboard" %>
      		<td><p class="text-left">Strapless</p> <% while @variable < @technics.find(@products.find(t.product_id).technic_id).strapless %>
	    	<i class="text-rose fas fa-square"></i>
	    	<% @variable = @variable + 1 %>
	  	<%end%>
	  	<% while @variable < 3 %>
	    	<i class="text-light fas fa-square"></i>
	    	<% @variable = @variable + 1 %>
	  	<% end %>
	  	<% @variable = 0 %>
	  	<p class="text-left">Straps</p> <% while @variable < @technics.find(@products.find(t.product_id).technic_id).strap %>
	    	<i class="text-rose fas fa-square"></i>
	    	<% @variable = @variable + 1 %>
	  	<%end%>
	  	<% while @variable < 3 %>
	    	<i class="text-light fas fa-square"></i>
	    	<% @variable = @variable + 1 %>
	  	<% end %>
	  	<% @variable = 0 %>
      		</td>
      		<% end %>
      		<% end %>
    		</tr>
    <tr>
      <th scope="row" class="text-warning">Programme</th>
      		<% @compare.each do |t, index| %>
		  <% if @products.find(t.product_id).category === "surfboard" %>
      <td><p class="text-left">Freestyle</p><% while @variable < @technics.find(@products.find(t.product_id).technic_id).freestyle %>
	    <i class="text-warning fas fa-square"></i>
	    <% @variable = @variable + 1 %>
	  <%end%>
	  <% while @variable < 3 %>
	    <i class="text-light fas fa-square"></i>
	    <% @variable = @variable + 1 %>
	  <% end %>
	  <% @variable = 0 %>

	  <p class="text-left">Wave</p><% while @variable < @technics.find(@products.find(t.product_id).technic_id).wave %>
	    <i class="text-warning fas fa-square"></i>
	    <% @variable = @variable + 1 %>
	  <%end%>
	  <% while @variable < 3 %>
	    <i class="text-light fas fa-square"></i>
	    <% @variable = @variable + 1 %>
	  <% end %>
	  <% @variable = 0 %>
      </td>
      <% end %>
      <% end %>
    </tr>
    <tr>
      <th scope="row" class="text-danger">Spot</th>
      		<% @compare.each do |t, index| %>
		  <% if @products.find(t.product_id).category === "surfboard" %>
      <td><p class="text-left">Side-Shore</p><% while @variable < @technics.find(@products.find(t.product_id).technic_id).sideshore %>
	    <i class="text-warning fas fa-square"></i>
	    <% @variable = @variable + 1 %>
	  <%end%>
	  <% while @variable < 3 %>
	    <i class="text-light fas fa-square"></i>
	    <% @variable = @variable + 1 %>
	  <% end %>
	  <% @variable = 0 %>

	  <p class="text-left">On-Shore</p><% while @variable < @technics.find(@products.find(t.product_id).technic_id).onshore %>
	    <i class="text-warning fas fa-square"></i>
	    <% @variable = @variable + 1 %>
	  <%end%>
	  <% while @variable < 3 %>
	    <i class="text-light fas fa-square"></i>
	    <% @variable = @variable + 1 %>
	  <% end %>
	  <% @variable = 0 %>
      </td>
      <% end %>
      <% end %>
    </tr>
	        <tr>
      		  <th scope="row">Prix</th>
		  <% @compare.each do |t, index| %>
		    <% if @products.find(t.product_id).category === "surfboard" %>
      		      <td><%= @products.find(t.product_id).price %>€</td>
		    <%end%>
		  <%end%>
    		</tr>
  		      <tr>
      		        <th scope="row"></th>
			  <% @compare.each do |t, index| %>
			    <% if @products.find(t.product_id).category === "surfboard" %>
      			      <td><%= link_to "Supprimer", kite_path(t.id), class:"btn-sm btn-danger", method: :delete %></td>
			    <%end%>
			  <%end%>
    		        </tr>
  		      </tbody>
		    </table>
            	  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>

</html>
