<%= render"layouts/navbartest" %>

<body class="index-page sidebar-collapse">
  <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('./assets/background/accessory.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>Les Accessoires</h1>
                <a class="carousel-control-prev" href="<%= surfboard_index_path %>" role="button" data-slide="prev">
                  <i class="fas fa-caret-square-left" style="font-size:50px"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="<%= foil_index_path %>" role="button" data-slide="next">
		  <i class="fas fa-caret-square-right" style="font-size:50px"></i>
                  <span class="sr-only">Next</span>
                </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised">

  <nav id='nav_bar'>
    <ul class='nav_links d-flex justify-content-center'>
            <li class="active nav-item my-1 mx-5">
            <%= link_to accessory_index_path(anchor: "bar"), class:" nav-link" do %>
		<div class="d-flex flex-column">
		<h4 class="text-center">Les barres</h4>
			<i class="d-flex justify-content-center fas fa-arrow-alt-circle-down fa-2x"></i>
		</div>
		<%end%>
            </li>
            <li class="active nav-item my-1 mx-5">
              <%= link_to accessory_index_path(anchor: "pads"), class:"nav-link" do %>
		<div class="d-flex flex-column">
		<h4 class="text-center">Les pads / straps</h4>
			<i class="d-flex justify-content-center fas fa-arrow-alt-circle-down fa-2x"></i>
		</div>
		<%end%>
            </li>
            <li class="nav-item my-1 mx-5">
            <%= link_to accessory_index_path(anchor: "wetsuit"), class:" nav-link" do %>
		<div class="d-flex flex-column">
		<h4 class="text-center">Les combinaisons</h4>
			<i class="d-flex justify-content-center fas fa-arrow-alt-circle-down fa-2x"></i>
		</div>
		<%end%>
            </li>
            <li class="nav-item my-1 mx-5">
            <%= link_to accessory_index_path(anchor: "harness"), class:" nav-link" do %>
		<div class="d-flex flex-column">
		<h4 class="text-center">Les harnais</h4>
			<i class="d-flex justify-content-center fas fa-arrow-alt-circle-down fa-2x"></i>
		</div>
		<%end%>
            </li>
            <li class="nav-item my-1 mx-5">
            <%= link_to accessory_index_path(anchor: "presentation"), class:" nav-link" do %>
		<div class="d-flex flex-column">
		<h4 class="text-center">Equipe Test</h4>
			<i class="d-flex justify-content-center fas fa-arrow-alt-circle-down fa-2x"></i>
		</div>
		<%end%>
            </li>      
    </ul>
  </nav>


  <section id="bar">
  <br><br><br>
    <div class="jumbotron" style="background-image: url(/assets/introtest3.jpg); background-size: 100%;">
      <div class="container for-about">
      <h1>Barres</h1>
      </div>
    </div>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
	<p class="card-text m-1 mb-5">Toutes les barres 4 lignes passe en théorie sur des ailes mais nous conseillons d'utiliser la barre de la même marque et année de l'aile pour des performances optimales. La longueur des lignes, le positionnement du V des avants et la taille du BC joue énormément sur le comportement du kite.</p>
	    <img src="assets/testaccessory/bar.png" class="img-raised rounded img-fluid" alt="..."></a>
	    <img src="assets/testaccessory/chickenloop.png" class="mt-5 img-raised rounded img-fluid" alt="..."></a>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">liste des barres testées</h5>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Barres</th>
      <th scope="col">Modèle</th>
      <th scope="col">marque</th>
      <th scope="col">taille</th>
      <th scope="col">prix</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      <% @products.each do |t, index| %>
      <% if t.domain === "bar" && t.category === "accessory" %>
    <tr>
     <th scope="row">
	    <img src="assets/testaccessory/bar2.png" class="img-raised rounded img-fluid" alt="..." style="width:70px">
</th>
      <td><h3><%= t.name %></h3></td>
      <td><%= t.brand %></td>
      <td><%= @options.find(t.option_id).range %></td>
      <td><%= t.price %>€</td>
      <td><a href="<%= accessory_path(t) %>" class="scrollup btn btn-success">Voir</a>
    </tr>
<% end %>
<% end %>
  </tbody>
</table>

      </div>
    </div>
  </div>
</div>
</section>

<section id="wetsuit">
    <h2 class="ml-2 fas fa-chevron-circle-right"> Toutes les combis</h2>
<div class="row">
  <div class="col-sm-2">
      <div class="card-body">
	    <img src="assets/testaccessory/wetsuit.png" class="img-fluid" alt="..."></a>
      </div>
  </div>
  <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">Comment avons-nous testé les combinaisons</h5>
        <p class="card-text">bla bla bla Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div>
</div>

    <div class="row">
      <% @products.each do |t, index| %>
      <% if t.domain === "wetsuit" && t.category === "accessory" %>
      <div class="card-deck m-3">
        <div class="row mx-3">  
          <div class="card m-3 p-2" style="max-width: 150px;">
            <a href="<%= accessory_path(t) %>">
	    <img src="assets/testaccessory/wetsuit.png" class="img-fluid" alt="..."></a>
            <h3 class="card-title"> <%= t.brand %>  </h3><h4> <%= t.name %> <%= t.price %>€</h4>
          </div>
        </div>
      </div>
      <% else %>
      <%end%>
      <%end%>
    </div>
    <a href="#navtest" class="m-3 scrollup d-flex justify-content-end align-items-end"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>

  </section>
  <section id="harness">
  <br><br><br>
    <div class="jumbotron" style="background-image: url(/assets/introtest3.jpg); background-size: 100%;">
      <div class="container for-about">
      <h1>Harnais</h1>
      </div>
    </div>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
	<p class="card-text m-1 mb-5">Suivant votre pratique il vous est conseillé d'opter plutôt pour un harnais ceinture ou culotte, ici nous avons testé les 2 modèles</p>
	    <img src="assets/testaccessory/harness.png" class="img-raised rounded img-fluid" alt="..."></a>
	    <img src="assets/testaccessory/harnessbar.png" class="mt-5 img-raised rounded img-fluid" alt="..."></a>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">liste des harnais testés</h5>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Barres</th>
      <th scope="col">Modèle</th>
      <th scope="col">marque</th>
      <th scope="col">taille</th>
      <th scope="col">prix</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      <% @products.each do |t, index| %>
      <% if t.domain === "harness" && t.category === "accessory" %>
    <tr>
     <th scope="row">
	    <img src="assets/testaccessory/harness.png" class="img-raised rounded img-fluid" alt="..." style="width:100px">
</th>
      <td><h4><%= t.name %></h4></td>
      <td><%= t.brand %></td>
      <td><%= @options.find(t.option_id).range %></td>
      <td><%= t.price %>€</td>
      <td><a href="<%= accessory_path(t) %>" class="scrollup btn btn-success">Voir</a>
    </tr>
<% end %>
<% end %>
  </tbody>
</table>

      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-around">
  <div class="col-sm-3 m-1">
      <div class="card-body">
	    <img src="assets/testaccessory/strap.png" class="img-raised rounded img-fluid" alt="..."></a>
      </div>
  </div>
  <div class="col-sm-5 m-1">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">L'équipement</h5>
        <p class="card-text">Le poids : l’ensemble pads/straps doit conserver un minimum
de légèreté afin de ne pas pénaliser le poids total planche +
équipement.
le nombre de Velcros : 1 - 2 ou 4 Plus il y en a plus mieux c’est ? Plus ou
moins…mais 4 Velcros vous permettent d’ajuster indépendamment
votre coup de pied et s’adapter à votre anatomie.
le prix : le confort ou la technicté ont un prix et l’ensemble le plus
cher n’est pas forcément le plus adapté à votre morphologie.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3 m-1">
      <div class="card-body">
	    <img src="assets/testaccessory/fin.png" class="img-raised rounded img-fluid" alt="..."></a>
      </div>
  </div>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Pads / straps</th>
      <th scope="col">Modèle</th>
      <th scope="col">marque</th>
      <th scope="col">details</th>
      <th scope="col">prix</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      <% @products.each do |t, index| %>
      <% if t.domain === "pads" && t.category === "accessory" %>
    <tr>
     <th scope="row">
	    <img src="assets/testaccessory/strap.png" class="img-raised rounded img-fluid" alt="..." style="width:70px">
</th>
      <td><h3><%= t.name %></h3></td>
      <td><%= t.brand %></td>
      <td><%= @options.find(t.option_id).detail %></td>
      <td><%= t.price %>€</td>
      <td><a href="<%= accessory_path(t) %>" class="scrollup btn btn-success">Voir</a>
    </tr>
<% end %>
<% end %>
  </tbody>
</table>



  <section id="presentation">
  <br><br><br>
    <div class="jumbotron" style="background-image: url(/assets/introtest4.jpg); background-size: 100%;">
      <div class="container for-about">
        <h1>Ils ont testé pour vous</h1>
      </div>
    </div>

    <div class="team">
      <div class="row">
        <div class="col-md-4">
          <div class="team-player">
            <div class="card card-plain">
              <div class="col-md-6 ml-auto mr-auto">
                <img src="/assets/Hugo.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
              </div>
              <h4 class="card-title">Hugo
              <br>
              <small class="card-description text-muted">Model</small>
              </h4>
              <div class="card-body">
                <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                <a href="#">links</a> for people to be able to follow them outside the site.</p>
              </div>
            </div>
          </div>
        </div>
          <div class="col-md-4">
            <div class="team-player">
              <div class="card card-plain">
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="/assets/Greg.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <h4 class="card-title">Greg
                <br>
                <small class="card-description text-muted">Designer</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                  <a href="#">links</a> for people to be able to follow them outside the site.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <div class="card card-plain">
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="/assets/Marvin.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <h4 class="card-title">Marvin
                <br>
                <small class="card-description text-muted">Model</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                  <a href="#">links</a> for people to be able to follow them outside the site.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <a href="#navtest" class="m-3 scrollup d-flex justify-content-end align-items-end"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
  </section>

 </div>
<br>
<br>
<br>
    <%= yield %>

  </body>
</html>
