<%= render"layouts/navbartest" %>
<body class="pt-5 profile-page sidebar-collapse">
<%if @product.background.attached? %>
<div class="page-header" id="header" data-parallax="true" style="background-image: url(<%= rails_blob_url(@product.background)%>);"></div>
<% else %>
<div class="page-header" id="header" data-parallax="true" style="background-image: url('/assets/image');"></div>
<% end %>  <div class="main main-raised p-2">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
		<%if @product.profil.attached? %>
  		  <%= image_tag @product.profil, alt: 'kite picture', class:"img-raised rounded img-fluid" %>
		<% else %>
                  <img src="/assets/image.jpg" alt="Circle Image" class="img-raised rounded img-fluid">
		<% end %>
		<%if @product.detail.attached? %>
 		  <%= image_tag @product.detail.first, alt: 'kite picture', class:"img-raised rounded img-fluid m-4", style:"width:150px" %>
  		  <%= image_tag @product.detail.second, alt: 'kite picture', class:"img-raised rounded img-fluid m-4", style:"width:150px" %>
 		  <%= image_tag @product.detail.third, alt: 'kite picture', class:"img-raised rounded img-fluid m-4", style:"width:150px" %>
		<% else %>
                  <img src="/assets/image.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:150px">
                  <img src="/assets/image.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:150px">
                  <img src="/assets/image.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:150px">
		<% end %>              
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <h1 class="title" id="navshow"> <%= @product.name %></h1>
	<h3 class="ml-4"> by <%= @product.brand %></h3>

  <nav>
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <div class="profile-tabs">
          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
	    <li class="nav-item">
              <%= link_to accessory_index_path(anchor: "accessory"), class:"nav-link" do %>
		<h6 class="text-center text-warning">Tous les Accessoires</h6>
		<i class="text-center text-warning fas fa-chevron-left"></i>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_path(anchor: "resume"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-comment-dots"></i>
		<h6 class="text-center text-warning">En bref</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_path(anchor: "idcard"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-id-card"></i>
		<h6 class="text-center text-warning">Id Card</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_path(anchor: "video"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-video"></i>
		<h6 class="text-center text-warning">Video</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_path(anchor: "product"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-plus"></i>
		<h6 class="text-center text-warning">Produits associés</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_index_path(anchor: "kite"), class:"nav-link" do %>
		<i class="text-center text-warning fas fa-chevron-right"></i>
		<h6 class="text-center text-warning">Tous les Kites</h6>
		<%end%>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>

	<section id="resume">
	<div class="d-flex justify-content-center">
	  <div class="card col-lg-8 m-3 p-3">
            <div class="row">
              <div class="col-md-3">
                <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
                  <div class="col-md-12 ml-auto mr-auto">
                    <img src="/assets/Hugo.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                </ul>
              </div>
              <div class="col-md-8">
                <div class="tab-content">
		  <p><%= @product.description %></p>
                </div>
              </div>
            </div>
          </div>
	</div>
	</section>

	<section id="idcard">
<% if @product.domain === "bar" %>
          <h2 class="ml-5 fas fa-id-card"> Id Card</h2>
	<div class="d-flex justify-content-center">
          <div class="col-md-10">
            <div class="name">
	      <div class="card pb-4">
	        <div class="row">
		  <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                      <h2 class=""><i class="fas fa-id-badge"></i> <%= @product.name %> <%= @product.year %></h2>
			<%if @product.idcard.attached? %>
 		  	  <%= image_tag @product.idcard, alt: 'kite picture', class:"img-raised rounded img-fluid mt-2", style:"width:70%" %>
			<%else%>
                          <img src="/assets/image.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid mt-2" style="width:70%">
			<%end%>
                    </div>
                  </div>
                  <div class="mt-5 col-md-4 col-sm-12">
                    <h3><i class="fas fa-heart"></i>  On a aimé : <%= @product.favorite %></h3>
                    <h6>Taille testé : <%= @product.testsize %>m</h6>
                    <h6>Tailles disponible : <%= @option.range %></h6>
                    <h6>Prix en shop : <%= @product.price %>€</h6>
		    <h6>grip : mou<% while @variable < @technic.grip %>
	    		<i class="fas fa-circle"></i>
	    		<% @variable = @variable + 1 %>
	  		<%end%>
			<% while @variable < 5 %>
	    		<i class="far fa-circle"></i>
			<% @variable = @variable + 1 %>
			<% end %>
	  		<% @variable = 0 %>
		    dur</h6>
		    <div class="card text-dark bg-light p-1 col-md-11">
		      <h6>details : <%= @option.detail %></h6>
		    </div>
		      <%= render"layouts/compare" %>
		  </div>
                  <div class="mt-5 col-md-4 col-sm-12">
                    <h3><i class="fas fa-wrench"></i>  Caractéristique :</h3>
                    <h6><i class="fab fa-steam-symbol"></i> Longueur de ligne : <%= @option.line %>m</h6>
                    <h6><i class="fab fa-steam-symbol"></i> Type de trim : <%= @option.trim %></h6>
                    <h6><i class="fab fa-steam-symbol"></i> Type de dévrilleur ? : <%= @option.twist %></h6>
                    <h6><i class="fab fa-steam-symbol"></i> configuration des avants : <%= @option.v %></h6>
		      <% if @product.link.present? %>
		      <h6>Plus d'infos : <a class="btn btn-sm btn-outline-info" href="<%= @product.link %>" target="blank_"><%= @product.link %></a></h6>
		      <%end%>
		  </div>                 
                </div>
              </div>
            </div>
          </div>
	</div>
<%end%>

<% if @product.domain === "wetsuit" %>
          <h2 class="ml-5 fas fa-id-card"> Id Card</h2>
	<div class="d-flex justify-content-center">
          <div class="col-md-8">
            <div class="name">
	      <div class="card pb-4">
	        <div class="row">
		  <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                      <h2 class=""><i class="fas fa-id-badge"></i> <%= @product.name %> <%= @product.year %></h2>
			<%if @product.idcard.attached? %>
 		  	  <%= image_tag @product.idcard, alt: 'kite picture', class:"img-raised rounded img-fluid mt-2", style:"width:70%" %>
			<%else%>
                          <img src="/assets/image.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid mt-2" style="width:70%">
			<%end%>
                    </div>
                  </div>
                  <div class="mt-5 col-md-6 col-sm-12">
                    <h3><i class="fas fa-heart"></i>  On a aimé : <%= @product.favorite %></h3>
                    <h6>Tailles disponible : <%= @option.range %></h6>
                    <h6>Epaisseur disponible : <%= @option.thickness %></h6>
                    <h6>Prix en shop : <%= @product.price %>€</h6>
                    <h3><i class="fas fa-cog"></i>  Caractéristique :</h3>
                    <h6><i class="fab fa-steam-symbol"></i> scratch pieds : <%= @option.velcros %></h6>
                    <h6><i class="fab fa-steam-symbol"></i> Zip : <%= @option.zip %></h6>
		    <h6><i class="fab fa-steam-symbol"></i> Néoprène : <%= @option.flex %></h6>
		    <div class="card text-dark bg-light p-1 col-md-11">
		      <h6>details : <%= @option.detail %></h6>
		    </div>
		      <% if @product.link.present? %>
		      <h6>Plus d'infos : <a class="btn btn-sm btn-outline-info" href="<%= @product.link %>" target="blank_"><%= @product.link %></a></h6>
		      <%end%>
		      <%= render"layouts/compare" %>
		  </div>
                 
                </div>
              </div>
            </div>
          </div>
	</div>
<%end%>
<% if @product.domain === "harness" %>
          <h2 class="ml-5 fas fa-id-card"> Id Card</h2>
	<div class="d-flex justify-content-center">
          <div class="col-md-10">
            <div class="name">
	      <div class="card pb-4">
	        <div class="row">
		  <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                      <h2 class=""><i class="fas fa-id-badge"></i> <%= @product.name %> <%= @product.year %></h2>
			<%if @product.idcard.attached? %>
 		  	  <%= image_tag @product.idcard, alt: 'kite picture', class:"img-raised rounded img-fluid mt-2", style:"width:70%" %>
			<%else%>
                          <img src="/assets/image.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid mt-2" style="width:70%">
			<%end%>
                    </div>
                  </div>
                  <div class="mt-5 col-md-4 col-sm-12">
                    <h3><i class="fas fa-heart"></i>  On a aimé : <%= @product.favorite %></h3>
                    <h6>Tailles disponible : <%= @option.range %></h6>
                    <h6>confort / type de coque : <%= @option.flex %></h6>		
                    <h6>Prix en shop : <%= @product.price %>€</h6>
		    <div class="card text-dark bg-light p-1 col-md-11">
		      <h6>details : <%= @option.detail %></h6>
		    </div>
		  </div>
                  <div class="mt-5 col-md-4 col-sm-12">
                    <h3><i class="fab fa-steam-symbol"></i>  Caractéristique :</h3>
                    <h6><i class="fas fa-wrench"></i> nombre de Scratch : <%= @option.velcros %></h6>
                    <h6><i class="fas fa-wrench"></i> Type de fermeture : <%= @option.trim %></h6>
                    <h6><i class="fas fa-wrench"></i> Type de crochet : <%= @option.bar %></h6>
		      <% if @product.link.present? %>
		      <h6>Plus d'infos : <a class="btn btn-sm btn-outline-info" href="<%= @product.link %>" target="blank_"><%= @product.link %></a></h6>
		      <%end%>
		      <%= render"layouts/compare" %>
		  </div>         
                </div>
              </div>
            </div>
          </div>
	</div>
<%end%>
<% if @product.domain === "pads" %>
          <h2 class="ml-5 fas fa-id-card"> Id Card</h2>
	<div class="d-flex justify-content-center">
          <div class="col-md-10">
            <div class="name">
	      <div class="card pb-4">
	        <div class="row">
		  <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                      <h2 class=""><i class="fas fa-id-badge"></i> <%= @product.name %> <%= @product.year %></h2>
			<%if @product.idcard.attached? %>
 		  	  <%= image_tag @product.idcard, alt: 'kite picture', class:"img-raised rounded img-fluid mt-2", style:"width:70%" %>
			<%else%>
                          <img src="/assets/image.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid mt-2" style="width:70%">
			<%end%>
                    </div>
                  </div>
                  <div class="mt-5 col-md-4 col-sm-12">
                    <h3><i class="fas fa-heart"></i>  On a aimé : <%= @product.favorite %></h3>	
                    <h6>Prix en shop : <%= @product.price %>€</h6>
		    <div class="pr-4 d-flex justify-content-between">
		      <div><h6>Pads : soft</h6></div>
		      <div class="mt-2"> <% while @variable < @technic.pad %>
	    		<i class="fas fa-circle"></i>
	    		<% @variable = @variable + 1 %>
	  		<%end%>
			<% while @variable < 6 %>
	    		<i class="far fa-circle"></i>
			<% @variable = @variable + 1 %>
			<% end %>
	  		<% @variable = 0 %></div>
		      <h6>hard</h6>
		    </div>
		    <div class="pr-4 d-flex justify-content-between">
		      <div><h6>Straps : souple</h6></div>
		      <div class="mt-2"> <% while @variable < @technic.strap %>
	    		<i class="fas fa-circle"></i>
	    		<% @variable = @variable + 1 %>
	  		<%end%>
			<% while @variable < 6 %>
	    		<i class="far fa-circle"></i>
			<% @variable = @variable + 1 %>
			<% end %>
	  		<% @variable = 0 %></div>
		      <h6>rigide</h6>
		    </div>
		    <div class="card text-dark bg-light p-1 col-md-11">
		      <h6>details : <%= @option.detail %></h6>
		    </div>
		  </div>
                  <div class="mt-5 col-md-4 col-sm-12">
                    <h3><i class="fab fa-steam-symbol"></i>  Caractéristique :</h3>
                    <h6><i class="fas fa-wrench"></i> nombre de Scratch : <%= @option.velcros %></h6>
                    <h6><i class="fas fa-wrench"></i> poids : <%= @option.weigh %>kg</h6>
		      <% if @product.link.present? %>
		      <h6>Plus d'infos : <a class="btn btn-sm btn-outline-info" href="<%= @product.link %>" target="blank_"><%= @product.link %></a></h6>
		      <%end%>
		    <%= render"layouts/compare" %>
		  </div>                 
                </div>
              </div>
            </div>
          </div>
	</div>
<%end%>

  <%= render"layouts/carousel" %>

        <section id="video">
	<% if @product.youtube.present? %>
          <h2 class="ml-5 fas fa-video"> Video</h2>
	  <div class="d-flex justify-content-center">
            <div class="card row m-3 p-3 col-lg-8">
              <div class="d-flex justify-content-center">
		<iframe width="560" height="315" src="<%= @product.youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	      </div>
            </div>
	  </div>
	<%end%>
        </section>

	<section id="product">
	          <h2 class="ml-5 fas fa-plus"> Produits associés</h2>
<div class="row d-flex justify-content-center">
  <div class="col-sm-3">
      <div class="card-body">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
	<h5 class="text-dark">Autres tests</h5>
    <a href="<%= accessory_index_path %>" class="btn btn-success">Autres tests</a>
      <img class="d-block w-100" src="/assets/testaccessory/strap.png" alt="First slide">
    </div>
      <% @products.each do |t, index| %>
<% if t.category === "accessory" && t.domain === @product.domain && t.picture.attached? && t.id != @product.id %>
    <div class="carousel-item">
	<h3 class="text-dark"><%= t.brand %> <%= t.name %></h3>
    <a href="<%= accessory_path(t) %>" class="btn btn-success">Voir le test</a>
      <%= image_tag t.picture.first, class:"d-block w-100" %>
    </div>
<% end %>
<% end %>

  </div>
</div>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="card-body">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
	<h5 class="text-dark">kites </h5>
    <a href="<%= kite_index_path %>" class="btn btn-success">Autres tests</a>
      <img class="d-block w-100" src="/assets/testkite/bandit.png" alt="First slide">
    </div>
      <% @products.each do |t, index| %>
<% if t.category === "kite" && t.picture.attached? %>
    <div class="carousel-item">
	<h3 class="text-dark"><%= t.brand %> <%= t.name %></h3>
    <a href="<%= kite_path(t) %>" class="btn btn-success">Voir le test</a>
      <%= image_tag t.picture.first, class:"d-block w-100" %>
    </div>
<% end %>
<% end %>
  </div>
</div>
      </div>
  </div>
  <div class="col-sm-3">
      <div class="card-body">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
	<h5 class="text-dark">boards</h5>
    <a href="<%= board_index_path %>" class="btn btn-success">Autres tests</a>
      <img class="d-block w-100" src="/assets/testboard/board2.png" alt="First slide">
    </div>
      <% @products.each do |t, index| %>
<% if t.category === "accessory" && t.domain != @product.domain && t.picture.attached? %>
    <div class="carousel-item">
	<h3 class="text-dark"><%= t.brand %> <%= t.name %></h3>
    <a href="<%= accessory_path(t) %>" class="btn btn-success">Voir le test</a>
      <%= image_tag t.picture.first, class:"d-block w-100" %>
    </div>
<% end %>
<% end %>

  </div>
</div>
      </div>
  </div>
</div>
</section>

	<div class="d-flex justify-content-end">
              <a class="btn-primary btn-sm" href="<%= accessory_index_path %>"><i class="fas fa-caret-square-left"></i>  Retour accessoires</a>
	</div>
    </div>
  </div>
</div>
</body>






