  <div class="d-flex justify-content-end" id="flash">
    <div class="card alert alert-danger alert-dismissible fade show" role="alert" style="width:20%">
      <strong><i class="fas fa-skull"></i><%= flash[:danger] %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> 
  </div>

<% if flash[:danger].present? %>
  <div class="d-flex justify-content-end" id="flash">
    <div class="card alert alert-danger alert-dismissible fade show" role="alert" style="width:20%">
      <strong><i class="fas fa-skull"></i><%= flash[:danger] %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> 
  </div>
<%elsif flash[:success].present?%>
  <div class="d-flex justify-content-end" id="flash">
    <div class="card alert alert-success alert-dismissible fade show" role="alert" style="width:20%">
      <strong><i class="fas fa-check"></i><%= flash[:success] %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
<%elsif flash[:info].present?%>
  <div class="d-flex justify-content-end" id="flash">
    <div class="card alert alert-info alert-dismissible fade show" role="alert" style="width:20%">
      <i class="fas fa-info"></i><strong><%= flash[:info] %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
<%elsif flash[:warning].present?%>
  <div class="d-flex justify-content-end" id="flash">
    <div class="card alert alert-warning alert-dismissible fade show" role="alert" style="width:20%">
      <i class="fas fa-exclamation-triangle"></i><strong><%= flash[:warning] %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
<% elsif notice.present? %>
  <div class="d-flex justify-content-end" id="flash">
    <div class="card alert alert-success alert-dismissible fade show" role="alert" style="width:20%">
      <i class="m-1 fas fa-check"></i><strong class="text-center"><%= notice %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
<% elsif alert.present? %>
  <div class="d-flex justify-content-end" id="flash">
    <div class="card alert alert-warning alert-dismissible fade show" role="alert" style="width:20%">
      <i class="m-1 fas fa-exclamation-triangle"></i><strong class="text-center"><%= alert %></strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
<% end %>

