  <nav class="navbar fixed-top navbar-expand-lg" id="sectionsNav">
    <div class="container">
      <div class="navbar-logo d-flex justify-content-start">
                <button type="button" class="ml-auto navbar-toggler" data-toggle="collapse" data-target="#example-navbar-transparent">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                </button>
        <a href="<%= root_path %>"><img data-0="width:155px;" data-300=" width:120px;" src="/assets/logo_KSM_mini.png" alt=""></a>
      </div>
      <div class="collapse navbar-collapse d-flex justify-content-around">
        <ul class="navbar-nav">
          <li class="dropdown nav-item mx-4">
            <a href="#" class="nav-link" data-toggle="dropdown">
		<div class="d-flex flex-column">
		<strong class="text-center text-warning">Kites</strong>
		</div>
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="<%= kite_index_path %>" class="dropdown-item">
                <i class="material-icons">layers</i> Kites
              </a>
              <a href="<%= board_index_path %>" class="dropdown-item">
		<i class="material-icons">layers</i> Twin-Tips
	      </a>
              <a href="<%= surfboard_index_path %>" class="dropdown-item">
                <i class="material-icons">layers</i> Surfboards
              </a>
              <a href="<%= accessory_index_path %>" class="dropdown-item">
                <i class="material-icons">layers</i> accessoires
              </a>

            </div>
          </li>
	  <li class="nav-item mx-4">
            <%= link_to article_index_path, class:"nav-link" do %>
		<div class="d-flex flex-column">
		<strong class="text-center text-warning">Twin-tips</strong>
		</div>
	    <%end%>
          </li>
	  <li class="nav-item mx-4">
            <%= link_to root_path, class:"nav-link" do %>
		<div class="d-flex flex-column">
		<strong class="text-center text-warning">Surfs</strong>
		</div>
	    <%end%>
          </li>
	  <li class="nav-item mx-4">
            <%= link_to portfolio_index_path, class:"nav-link" do %>
		<div class="d-flex flex-column">
		<strong class="text-center text-warning">Accessoires</strong>
		</div>
	    <%end%>
          </li>
	  <li class="nav-item mx-4">
            <%= link_to root_path, class:"nav-link" do %>
		<div class="d-flex flex-column">
		<strong class="text-center text-warning">Foils</strong>
		</div>
	    <%end%>
          </li>
          <li class="dropdown nav-item mx-4">
            <a href="#" class="nav-link" data-toggle="dropdown">
		<div class="d-flex flex-column">
		<strong class="text-center dropdown-toggle text-warning">Actualités</strong>
		</div>
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="<%= root_path %>" class="dropdown-item">
                <i class="material-icons">layers</i> Magazine (archives)
              </a>
              <a href="#" class="dropdown-item">
                <i class="material-icons">layers</i> Abonnement
              </a>
          <% if user_signed_in? %>
		<div class="dropdown-divider"></div>
                  <%= link_to "Mon Profil", user_path(current_user), class:"dropdown-item"%>
                <div class="dropdown-divider"></div>
                  <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:"dropdown-item"%>
            </div>
	  <%else%>
		<div class="dropdown-divider"></div>
             <%= link_to " Se Connecter", new_user_session_path, class:"dropdown-item" %>
	  <%end%>
          </li>

        </ul>
      </div>
    </div>
  </nav>


