  <section id="presentation">
  <br><br><br>
  <%if @article.jumbotron.attached? %>
      <div class="jumbotron" style="background-image: url(<%= rails_blob_url(@article.jumbotron.third)%>); background-size: 100%;">
  <% else %>
  <div class="jumbotron" style="background-image: url(/assets/image.jpg); background-size: 100%;">
  <% end %>
      <div class="container for-about">
        <h1>Ils ont testé pour vous</h1>
      </div>
    </div>

    <div class="team">
      <div class="row">
  <% @users.each do |t, index| if t.is_pro == true %> 

      <div class="col-md-3">
        <div class="team-player">  
          <div class="card card-plain">
            <div class="col-md-6 ml-auto mr-auto">
	      <% if t.avatar.attached? %>
  	        <%= image_tag t.avatar, alt: 'avatar', class:"img-raised rounded-circle img-fluid" %>
	      <% else %>
	        <img src="assets/image.jpg" class="img-raised rounded-circle img-fluid" alt="..."></a>
	      <% end %>
            </div>
              <h4 class="card-title text-center"><%= t.first_name %>
              <br>
              <small class="card-description text-muted"><%= t.function %></small>
              </h4>
              <div class="card-body">
                <p class="card-description text-center"><%= t.description %></p>
              </div>
            </div>
          </div>
	</div>
  <% end end %>
      </div>
      </div>
  

    <a href="#navtest" class="m-3 scrollup d-flex justify-content-end align-items-end"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
  </section>

